<%= form_with(model: staff, local: true) do |form| %></td>
  <% if staff.errors.any? %></td>
    <div id="error_explanation">
      <h2><%= pluralize(staff.errors.count, "error") %></td> prohibited this staff from being saved:</h2>

      <ul>
      <% staff.errors.full_messages.each do |message| %></td>
        <li><%= message %></td></li>
      <% end %></td>
      </ul>
    </div>
  <% end %></td>
  
  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row"><strong><%= form.label :営業所コード %></strong></th>
          <td><%= form.collection_select :company_id, Company.all, :id, :name %></td>
          <th scope="row"><strong><%= form.label :顔写真 %></strong></th>
          <td><%= form.file_field :picture, id: :staff_picture, :class => 'form-group' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :撮影年月日 %></strong></th>
          <td><%= form.date_field :shooting_date, id: :staff_shooting_date, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :従業者証明書番号 %></strong></th>
          <td><%= form.text_field :certificate_number, id: :staff_certificate_number, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :証明書有効期間開始 %></strong></th>
          <td><%= form.date_field :start_certificate_lifetime, id: :staff_start_certificate_lifetime, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :証明書有効期間終了 %></strong></th>
          <td><%= form.date_field :end_certificate_lifetime, id: :staff_end_certificate_lifetime, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :宅建士資格有無 %></strong></th>
          <td><%= form.check_box :real_estate_notary, id: :staff_real_estate_notary, :class => 'checkbox' %></td>
          <th scope="row"><strong><%= form.label :姓 %></strong></th>
          <td><%= form.text_field :last_name, id: :staff_last_name, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :名 %></strong></th>
          <td><%= form.text_field :first_name, id: :staff_first_name, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :セイ %></strong></th>
          <td><%= form.text_field :furigana_last_name, id: :staff_furigana_last_name, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :メイ %></strong></th>
          <td><%= form.text_field :furigana_first_name, id: :staff_furigana_first_name, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :性別 %></strong></th>
          <td><%= form.collection_select :gender, Select.where(content_id: "gender"), :return_text, :return_text %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :生年月日 %></strong></th>
          <td><%= form.date_field :birth, id: :staff_birth, :class => 'form-group' %></td>
          <th scope="row"><strong><%= form.label :電話番号 %></strong></th>
          <td><%= form.text_field :home_phone, id: :staff_home_phone, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :携帯番号 %></strong></th>
          <td><%= form.text_field :mobile_phone, id: :staff_mobile_phone, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :郵便番号 %></strong></th>
          <td><%= form.number_field :postal_code, id: :postal_code, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :都道府県 %></strong></th>
          <td><%= form.text_field :prefecture, id: :prefecture, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :市区町村 %></strong></th>
          <td><%= form.text_field :city, id: :city, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :番地 %></strong></th>
          <td><%= form.text_area :street, id: :street, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :メールアドレス %></strong></th>
          <td><%= form.text_area :email, id: :staff_email, :class => 'form-control' %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="actions">
    <%= form.submit :更新, :class => 'btn btn-primary' %>
  </div>
<% end %>
