<p id="notice"><%= notice %></p>

<p>
  <strong>営業所コード:</strong>
  <%= @staff.company_id %>
</p>

<p>
  <strong>顔写真:</strong>
  <%= @staff.picture %>
</p>

<p>
  <strong>撮影年月日:</strong>
  <%= @staff.shooting_date %>
</p>

<p>
  <strong>従業者証明書番号:</strong>
  <%= @staff.certificate_number %>
</p>

<p>
  <strong>証明書有効期間開始:</strong>
  <%= @staff.start_certificate_lifetime %>
</p>

<p>
  <strong>証明書有効期間終了:</strong>
  <%= @staff.end_certificate_lifetime %>
</p>

<p>
  <strong>宅建士資格有無:</strong>
  <%= @staff.real_estate_notary %>
</p>

<p>
  <strong>姓:</strong>
  <%= @staff.last_name %>
</p>

<p>
  <strong>名:</strong>
  <%= @staff.first_name %>
</p>

<p>
  <strong>セイ:</strong>
  <%= @staff.furigana_last_name %>
</p>

<p>
  <strong>メイ:</strong>
  <%= @staff.furigana_first_name %>
</p>

<p>
  <strong>性別:</strong>
  <%= @staff.gender %>
</p>

<p>
  <strong>生年月日:</strong>
  <%= @staff.birth %>
</p>

<p>
  <strong>電話番号:</strong>
  <%= @staff.home_phone %>
</p>

<p>
  <strong>携帯電話:</strong>
  <%= @staff.mobile_phone %>
</p>

<p>
  <strong>郵便番号:</strong>
  <%= @staff.postal_code %>
</p>

<p>
  <strong>都道府県:</strong>
  <%= @staff.prefecture %>
</p>

<p>
  <strong>市区町村:</strong>
  <%= @staff.city %>
</p>

<p>
  <strong>番地:</strong>
  <%= @staff.street %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @staff.email %>
</p>

<%= link_to '修正', edit_staff_path(@staff) %> |
<%= link_to '戻る', staffs_path %>
