<%= form_with(model: admin_property_info, local: true) do |form| %>
  <% if admin_property_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_property_info.errors.count, "error") %> prohibited this admin_property_info from being saved:</h2>

      <ul>
      <% admin_property_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :property_type1 %>
    <%= form.text_field :property_type1, id: :admin_property_info_property_type1 %>
  </div>

  <div class="field">
    <%= form.label :property_type2 %>
    <%= form.text_field :property_type2, id: :admin_property_info_property_type2 %>
  </div>

  <div class="field">
    <%= form.label :transaction_type %>
    <%= form.text_field :transaction_type, id: :admin_property_info_transaction_type %>
  </div>

  <div class="field">
    <%= form.label :mediation_date %>
    <%= form.date_select :mediation_date, id: :admin_property_info_mediation_date %>
  </div>

  <div class="field">
    <%= form.label :condition %>
    <%= form.number_field :condition, id: :admin_property_info_condition %>
  </div>

  <div class="field">
    <%= form.label :supplementary_explanation %>
    <%= form.text_area :supplementary_explanation, id: :admin_property_info_supplementary_explanation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
