<p id="notice"><%= notice %></p>

<h1>Admin Property Infos</h1>

<table>
  <thead>
    <tr>
      <th>Property type1</th>
      <th>Property type2</th>
      <th>Transaction type</th>
      <th>Mediation date</th>
      <th>Condition</th>
      <th>Supplementary explanation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_property_infos.each do |admin_property_info| %>
      <tr>
        <td><%= admin_property_info.property_type1 %></td>
        <td><%= admin_property_info.property_type2 %></td>
        <td><%= admin_property_info.transaction_type %></td>
        <td><%= admin_property_info.mediation_date %></td>
        <td><%= admin_property_info.condition %></td>
        <td><%= admin_property_info.supplementary_explanation %></td>
        <td><%= link_to 'Show', admin_property_info %></td>
        <td><%= link_to 'Edit', edit_admin_property_info_path(admin_property_info) %></td>
        <td><%= link_to 'Destroy', admin_property_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Property Info', new_admin_property_info_path %>
