<h1>【住宅ローン】シミュレーション</h1>
<h3><%= @msg1 %></h3>

<table class="table table-bordered">
    <tr>
        <th class="info"><%= @ask1 %></th>
        <td><%= number_field_tag :loan1, '', size: 30 %><span> 万円</span></td>
    </tr>
    <tr id="sample">
        <th><%= @ask2 %></th>
        <td>
            <%= radio_button 'increase', 'bonus', 'no', {:checked => true} %> いいえ
            <%= radio_button 'increase', 'bonus', 'yes', {} %> はい
        </td>
    </tr>

    <tr>
        <th><%= @ask3 %></th>
        <td><%= number_field_tag :loan_bonus, '', size: 30 %><span> 万円</span></td>
    </tr>
    <tr>
        <th><%= @ask4 %></th>
        <td><%= number_field_tag :period1, '35', size: 30 %><span> 年</span></td>
    </tr>
    <tr>
        <th><%= @ask5 %></th>
        <td><%= text_field_tag :rate_type, '', size: 30 %><span> </span></td>
    </tr>
    <tr>
        <th><%= @ask6 %></th>
        <td><%= number_field_tag :interest_rate_b1, nil, step: 0.01, size: 30 %><span> ％</span></td>
    </tr>
    <tr>
        <th><%= @ask7 %></th>
        <td><%= number_field_tag :interest_rate_a, '', size: 30 %><span> ％</span></td>
    </tr>
</table>

<%= button_tag '計算する', id: "calc1", class: "btn btn-primary", type: "button" %>

<section class="result">
<table class="table table-bordered">
    <tr>
        <th><%= @ans1ttl %></th>
        <td><div id="interest_rate1"></div></td>
    </tr>
    <tr>
        <th><%= @ans2ttl %></th>
        <td><div id="repayment"></div></td>
    </tr>

    <tr>
        <th><%= @ans3ttl %></th>
        <td><div id="total_interest"></div></td>
    </tr>

    <tr>
        <th><%= @ans4ttl %></th>
        <td></td>
    </tr>

    <tr>
        <th><%= @ans5ttl %></th>
        <td></td>
    </tr>
</table>



<h3><%= @msg2 %></h3>
<table class="table table-bordered">
    <tr>
        <th class="info"><%= @ask8 %></th>
        <td><%= number_field_tag :loan2, '', size: 30 %><span> 万円</span></td>
    </tr>
    <tr>
        <th><%= @ask4 %></th>
        <td><%= number_field_tag :period2, '35', size: 30 %><span> 年</span></td>
    </tr>
    <tr>
        <th><%= @ask6 %></th>
        <td><%= number_field_tag :interest_rate_b2, nil, step: 0.01, size: 30 %><span> ％</span></td>
    </tr>
</table>

<%= button_tag '計算する', id: "calc2", class: "btn btn-primary", type: "button" %>
  
<div></div>
<section class="result">
<table class="table table-bordered">
    <tr>
        <th><%= @ans1ttl %></th>
        <td><div id="interest_rate2"></div></td>
    </tr>
    <tr>
        <th><%= @ans6ttl %></th>
        <td><div id="borrowing"></div></td>
    </tr>
</table>



