<h1>【住宅ローン】シミュレーション</h1>
<h3><%= @msg1 %></h3>

<table class="table table-bordered">
    <tr>
        <th><%= @ask1 %></th>
        <td><%= number_field_tag :loan1, '2000', size: 30 %><span> 万円</span></td>
    </tr>
    <tr id="sample">
        <th><%= @ask2 %></th>
        <td>
            <%= radio_button 'increase', 'bonus', 'no', {:checked => true} %> いいえ
            <%= radio_button 'increase', 'bonus', 'yes', {} %> はい
        </td>
    </tr>

    <tr>
        <th><%= @ask3 %></th>
        <td><%= number_field_tag :loan_bonus, '', step: 0.001, size: 30, :disabled => true %><span> 万円</span></td>
    </tr>
    <tr>
        <th><%= @ask4 %></th>
        <td><%= number_field_tag :period1, '35', size: 30 %><span> 年</span></td>
    </tr>
    <tr>
        <th><%= @ask5 %></th>
        <td><%= collection_select(:rate, :type, Admin::Select.where(content_id: "rate_type"), :select_id, :return_text) %></td>
    </tr>
    <tr>
        <th><%= @ask6 %></th>
        <td><%= number_field_tag :interest_rate_b1, '1.0', step: 0.01, size: 30 %><span> ％</span></td>
    </tr>
    
    <% if false %>
    <tr>
        <th><%= @ask7 %></th>
        <td><%= number_field_tag :interest_rate_a, '', size: 30 %><span> ％</span></td>
    </tr>
    <% end %>
   
</table>

<%= button_tag '計算する', id: "calc1", class: "btn btn-primary", type: "button" %>

<hr>
<h3>シミュレーション結果</h3>
<section class="result">
<% if false %>
<table class="table table-bordered">
    <tr>
        <th><%= @ans1ttl %></th>
        <th><%= @ans2ttl %></th>
        <th><%= @ans3ttl %></th>
        <th><%= @ans4ttl %></th>
    </tr>
    <tr>
        <td><div id="repayment"></div></td>
        <td><div id="total_interest"></div></td>
        <td><div id="bonus_repayment"></div></td>
        <td><div id="repayment_y"></div></td>
    </tr>
</table>
<% end %>

<table class="table table-bordered">
    <h3>償還表</h3>
    <thead>
        <tr>
            <td>回数</td>
            <td>年月</td>
            <td>返済金額</td>
            <td>残元金</td>
        </tr>
    </thead>
    <tbody id="redemption"></tbody>
</table>

<hr>

<h3><%= @msg2 %></h3>
<table class="table table-bordered">
    <tr>
        <th class="info"><%= @ask8 %></th>
        <td><%= number_field_tag :loan2, '100', size: 30 %><span> 万円</span></td>
    </tr>
    <tr>
        <th><%= @ask4 %></th>
        <td><%= number_field_tag :period2, '35', size: 30 %><span> 年</span></td>
    </tr>
    <tr>
        <th><%= @ask6 %></th>
        <td><%= number_field_tag :interest_rate_b2, '1.0', step: 0.01, size: 30 %><span> ％</span></td>
    </tr>
</table>

<%= button_tag '計算する', id: "calc2", class: "btn btn-primary", type: "button" %>
  
<hr>

<section class="result">
<table class="table table-bordered">
    <tr>
        <th><%= @ans6ttl %></th>
        <td><div id="borrowing"></div></td>
    </tr>
</table>



