<%= form_with(model: admin_select, local: true) do |form| %>
  <% if admin_select.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_select.errors.count, "error") %> prohibited this admin_select from being saved:</h2>

      <ul>
      <% admin_select.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-inline">
    <%= form.label :項目 %>
    <%= form.text_field :content_id, id: :admin_select_content_id, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :No %>
    <%= form.number_field :select_id, id: :admin_select_select_id, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :項目名 %>
    <%= form.text_area :return_text, id: :admin_select_return_text, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit :更新, :class => 'btn btn-primary' %>
  </div>
<% end %>
