<p id="notice"><%= notice %></p>

<p>
  <strong>項目:</strong>
  <%= @admin_select.content_id %>
</p>

<p>
  <strong>No:</strong>
  <%= @admin_select.select_id %>
</p>

<p>
  <strong>項目名:</strong>
  <%= @admin_select.return_text %>
</p>

<%= link_to '修正', edit_admin_select_path(@admin_select) %> |
<%= link_to '戻る', admin_selects_path %>
