<%= form_with(model: admin_property_adress, local: true) do |form| %>
  <% if admin_property_adress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_property_adress.errors.count, "error") %> prohibited this admin_property_adress from being saved:</h2>

      <ul>
      <% admin_property_adress.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.number_field :property_id, id: :admin_property_adress_property_id %>
  </div>

  <div class="field">
    <%= form.label :prefecture %>
    <%= form.text_field :prefecture, id: :admin_property_adress_prefecture %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :admin_property_adress_city %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_area :street, id: :admin_property_adress_street %>
  </div>

  <div class="field">
    <%= form.label :show_street %>
    <%= form.check_box :show_street, id: :admin_property_adress_show_street %>
  </div>

  <div class="field">
    <%= form.label :apartment_name %>
    <%= form.text_area :apartment_name, id: :admin_property_adress_apartment_name %>
  </div>

  <div class="field">
    <%= form.label :roomnumber %>
    <%= form.text_field :roomnumber, id: :admin_property_adress_roomnumber %>
  </div>

  <div class="field">
    <%= form.label :buildingnumber %>
    <%= form.text_field :buildingnumber, id: :admin_property_adress_buildingnumber %>
  </div>

  <div class="field">
    <%= form.label :show_roomnumber %>
    <%= form.check_box :show_roomnumber, id: :admin_property_adress_show_roomnumber %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
