<p id="notice"><%= notice %></p>

<h1>Admin Property Adresses</h1>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Prefecture</th>
      <th>City</th>
      <th>Street</th>
      <th>Show street</th>
      <th>Apartment name</th>
      <th>Roomnumber</th>
      <th>Buildingnumber</th>
      <th>Show roomnumber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_property_adresses.each do |admin_property_adress| %>
      <tr>
        <td><%= admin_property_adress.property_id %></td>
        <td><%= admin_property_adress.prefecture %></td>
        <td><%= admin_property_adress.city %></td>
        <td><%= admin_property_adress.street %></td>
        <td><%= admin_property_adress.show_street %></td>
        <td><%= admin_property_adress.apartment_name %></td>
        <td><%= admin_property_adress.roomnumber %></td>
        <td><%= admin_property_adress.buildingnumber %></td>
        <td><%= admin_property_adress.show_roomnumber %></td>
        <td><%= link_to 'Show', admin_property_adress %></td>
        <td><%= link_to 'Edit', edit_admin_property_adress_path(admin_property_adress) %></td>
        <td><%= link_to 'Destroy', admin_property_adress, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Property Adress', new_admin_property_adress_path %>
