<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @admin_property_adress.property_id %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @admin_property_adress.prefecture %>
</p>

<p>
  <strong>City:</strong>
  <%= @admin_property_adress.city %>
</p>

<p>
  <strong>Street:</strong>
  <%= @admin_property_adress.street %>
</p>

<p>
  <strong>Show street:</strong>
  <%= @admin_property_adress.show_street %>
</p>

<p>
  <strong>Apartment name:</strong>
  <%= @admin_property_adress.apartment_name %>
</p>

<p>
  <strong>Roomnumber:</strong>
  <%= @admin_property_adress.roomnumber %>
</p>

<p>
  <strong>Buildingnumber:</strong>
  <%= @admin_property_adress.buildingnumber %>
</p>

<p>
  <strong>Show roomnumber:</strong>
  <%= @admin_property_adress.show_roomnumber %>
</p>

<%= link_to 'Edit', edit_admin_property_adress_path(@admin_property_adress) %> |
<%= link_to 'Back', admin_property_adresses_path %>
