<%= form_with(model: admin_company, local: true) do |form| %>
  <% if admin_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_company.errors.count, "error") %> prohibited this admin_company from being saved:</h2>

      <ul>
      <% admin_company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :会社名 %>
    <%= form.text_field :name, id: :admin_company_name, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :代表電話番号 %>
    <%= form.text_field :main_phone, id: :admin_company_main_phone, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :問い合わせ電話 %>
    <%= form.text_field :inquiry_phone, id: :admin_company_inquiry_phone, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :郵便番号 %>
    <%= form.number_field :postal_code, id: :postal_code, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :都道府県 %>
    <%= form.text_field :prefecture, id: :prefecture, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :市区町村 %>
    <%= form.text_field :city, id: :city, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :番地 %>
    <%= form.text_area :street, id: :street, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :メールアドレス %>
    <%= form.text_area :email, id: :admin_company_email, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :宅建業免許番号 %>
    <%= form.text_area :license_number, id: :admin_company_license_number, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :営業開始時間 %>
    <%= form.time_select :open_time, id: :admin_company_open_time, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :営業終了時間 %>
    <%= form.time_select :end_time, id: :admin_company_end_time, :class => 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :定休日 %>
    <%= form.text_area :regular_holiday, id: :admin_company_regular_holiday, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
