<p id="notice"><%= notice %></p>

<p>
  <strong>会社名:</strong>
  <%= @admin_company.name %>
</p>

<p>
  <strong>代表電話番号:</strong>
  <%= @admin_company.main_phone %>
</p>

<p>
  <strong>問い合わせ電話:</strong>
  <%= @admin_company.inquiry_phone %>
</p>

<p>
  <strong>郵便番号:</strong>
  <%= @admin_company.postal_code %>
</p>

<p>
  <strong>都道府県:</strong>
  <%= @admin_company.prefecture %>
</p>

<p>
  <strong>市区町村:</strong>
  <%= @admin_company.city %>
</p>

<p>
  <strong>番地:</strong>
  <%= @admin_company.street %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @admin_company.email %>
</p>

<p>
  <strong>宅建業免許番号:</strong>
  <%= @admin_company.license_number %>
</p>

<p>
  <strong>営業開始時間:</strong>
  <%= @admin_company.open_time %>
</p>

<p>
  <strong>  営業終了時間:</strong>
  <%= @admin_company.end_time %>
</p>

<p>
  <strong>定休日:</strong>
  <%= @admin_company.regular_holiday %>
</p>

<%= link_to 'Edit', edit_admin_company_path(@admin_company) %> |
<%= link_to 'Back', admin_companies_path %>
