<%= form_with(model: admin_customer, local: true) do |form| %>
  <% if admin_customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_customer.errors.count, "error") %> prohibited this admin_customer from being saved:</h2>

      <ul>
      <% admin_customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-inline">
    <%= form.label :姓 %>
    <%= form.text_field :last_name, id: :admin_customer_last_name, :class => 'form-control' %>

    <%= form.label :名 %>
    <%= form.text_field :first_name, id: :admin_customer_first_name, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :セイ %>
    <%= form.text_field :furigana_last_name, id: :admin_customer_furigana_last_name, :class => 'form-control' %>

    <%= form.label :メイ %>
    <%= form.text_field :furigana_first_name, id: :admin_customer_furigana_first_name, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :性別 %>
    <%= form.select :gender, [["不明", "不明"], ["男性", "男性"], ["女性", "女性"], ["その他", "その他"]] %>
  </div>

  <div class="field form-inline">
    <%= form.label :生年月日 %>
    <%= form.date_field :birth, id: :admin_customer_birth, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :電話番号 %>
    <%= form.text_field :home_phone, id: :admin_customer_home_phone, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :携帯電話 %>
    <%= form.text_field :mobile_phone, id: :admin_customer_mobile_phone, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :郵便番号 %>
    <%= form.number_field :postal_code, id: :postal_code, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :都道府県 %>
    <%= form.text_field :prefecture, id: :prefecture, :class => 'form-control' %>

    <%= form.label :市区町村 %>
    <%= form.text_field :city, id: :city, :class => 'form-control' %>

    <%= form.label :番地 %>
    <%= form.text_area :street, id: :street, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :メールアドレス %>
    <%= form.text_area :email, id: :admin_customer_email, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit  :更新, :class => 'btn btn-primary' %>
  </div>
<% end %>
