<p id="notice"><%= notice %></p>

<p>
  <strong>姓:</strong>
  <%= @admin_customer.last_name %>
</p>

<p>
  <strong>名:</strong>
  <%= @admin_customer.first_name %>
</p>

<p>
  <strong>セイ:</strong>
  <%= @admin_customer.furigana_last_name %>
</p>

<p>
  <strong>メイ:</strong>
  <%= @admin_customer.furigana_first_name %>
</p>

<p>
  <strong>性別:</strong>
  <%= @admin_customer.gender %>
</p>

<p>
  <strong>生年月日:</strong>
  <%= @admin_customer.birth %>
</p>

<p>
  <strong>電話番号:</strong>
  <%= @admin_customer.home_phone %>
</p>

<p>
  <strong>携帯電話:</strong>
  <%= @admin_customer.mobile_phone %>
</p>

<p>
  <strong>郵便番号:</strong>
  <%= @admin_customer.postal_code %>
</p>

<p>
  <strong>都道府県:</strong>
  <%= @admin_customer.prefecture %>
</p>

<p>
  <strong>市区町村:</strong>
  <%= @admin_customer.city %>
</p>

<p>
  <strong>番地:</strong>
  <%= @admin_customer.street %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @admin_customer.email %>
</p>

<%= link_to '修正', edit_admin_customer_path(@admin_customer) %> |
<%= link_to '戻る', admin_customers_path %>
