<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row"><strong><%= form.label :物件種別 %></strong></th>
          <td><%= form.collection_select :property_type1, Select.where(content_id: "property_type1"), :return_text, :return_text %></td>
          <th scope="row"><strong><%= form.label :物件種目 %></strong></th>
          <td><%= form.collection_select :property_type2, Select.where(content_id: "property_type2"), :return_text, :return_text %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :郵便番号 %></th>
          <td><%= form.number_field :postal_code, id: :property_postal_code, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :取引態様 %></strong></th>
          <td><%= form.collection_select :transaction_type, Select.where(content_id: "transaction_type"), :return_text, :return_text %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :媒介契約年月日 %></strong></th>
          <td><%= form.date_field :mediation_date, id: :property_mediation_date, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :取引状況 %></strong></th>
          <td><%= form.number_field :condition, id: :property_condition, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :取引状況の説明 %></strong></th>
          <td><%= form.text_field :supplementary_explanation, id: :property_supplementary_explanation, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :価格 %></strong></th>
          <td><%= form.number_field :price, id: :property_price, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :内消費税 %></strong></th>
          <td><%= form.number_field :consumption_tax, id: :property_consumption_tax, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :土地権利 %></strong></th>
          <td><%= form.collection_select :land_title, Select.where(content_id: "land_title"), :return_text, :return_text %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :郵便番号 %></strong></th>
          <td><%= form.number_field :postal_code, id: :postal_code, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :都道府県 %></strong></th>
          <td><%= form.text_field :prefecture, id: :prefecture, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :市区町村 %></strong></th>
          <td><%= form.text_field :city, id: :city, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :番地表示 %></strong></th>
          <td><%= form.check_box :show_street, id: :property_show_street, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :番地 %></strong></th>
          <td><%= form.text_field :street, id: :street, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :建物名 %></strong></th>
          <td><%= form.text_field :apartment_name, id: :property_apartment_name, :class => 'form-control' %></td>
        </tr>
        <tr> 
          <th scope="row"><strong><%= form.label :部屋番号 %></strong></th>
          <td><%= form.text_field :roomnumber, id: :property_roomnumber, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :部屋番号表示 %></strong></th>
          <td><%= form.check_box :show_roomnumber, id: :property_show_roomnumber, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :棟番号 %></strong></th>
          <td><%= form.text_field :buildingnumber, id: :property_buildingnumber, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :面積計測方式 %></strong></th>
          <td><%= form.collection_select :measurement, Select.where(content_id: "measurement"), :return_text, :return_text %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :土地面積（平米） %></strong></th>
          <td><%= form.number_field :land_area, id: :property_land_area, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :建物面積1（平米） %></strong></th>
          <td><%= form.number_field :building_area1, id: :property_building_area1, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :建物面積2（平米） %></strong></th>
          <td><%= form.number_field :building_area2, id: :property_building_area2, :class => 'form-control' %></td> 
          <th scope="row"><strong><%= form.label :専有面積（平米） %></strong></th>
          <td><%= form.number_field :occupied_area, id: :property_occupied_area, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :バルコニー面積（平米） %></strong></th>
          <td><%= form.number_field :balcony_area, id: :property_balcony_area, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :テラス面積（平米） %></strong></th>
          <td><%= form.number_field :terrace_area, id: :property_terrace_area, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :専用庭面積（平米） %></strong></th>
          <td><%= form.number_field :privategarden_area, id: :property_privategarden_area, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :私道負担 %></strong></th>
          <td><%= form.collection_select :driveway_burden, Select.where(content_id: "umu"), :return_text, :return_text %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :私道面積（平米） %></strong></th>
          <td><%= form.number_field :driveway_area, id: :property_driveway_area, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :私道負担割合（／） %></strong></th>
          <td><%= form.text_field :driveway_part1, id: :property_driveway_part1, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :私道負担割合（平米／平米） %></strong></th>
          <td><%= form.text_field :driveway_part2, id: :property_driveway_part2, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :セットバック %></strong></th>
          <td><%= form.collection_select :setback_class, Select.where(content_id: "setback"), :return_text, :return_text %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :後退距離（ｍ） %></strong></th>
          <td><%= form.number_field :setback_distance, id: :property_setback_distance, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :セットバック面積（平米） %></strong></th>
          <td><%= form.number_field :setback_area, id: :property_setback_area, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :敷地延長 %></strong></th>
          <td><%= form.collection_select :alleyground_class, Select.where(content_id: "umu"), :return_text, :return_text %></td>
          <th scope="row"><strong><%= form.label :敷地延長（平米） %></strong></th>
          <td><%= form.number_field :alleyground_area, id: :property_alleyground_area, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :建物面積（１Ｆ（平米）） %></strong></th>
          <td><%= form.number_field :firstfloor_area, id: :property_firstfloor_area, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :建物面積（２Ｆ（平米）） %></strong></th>
          <td><%= form.number_field :secondfloor_area, id: :property_secondfloor_area, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :建物面積（３Ｆ（平米）） %></strong></th>
          <td><%= form.number_field :thirdfloor_area, id: :property_thirdfloor_area, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :建物面積（その他（平米）） %></strong></th>
          <td><%= form.text_field :otherfloor_area, id: :property_otherfloor_area, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :開発面積／総面積１（平米） %></strong></th>
          <td><%= form.text_field :development_area1, id: :property_development_area1, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :販売総面積（平米） %></strong></th>
          <td><%= form.number_field :total_area, id: :property_total_area, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :販売区画数 %></strong></th>
          <td><%= form.number_field :subdivision, id: :property_subdivision, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :工事完了年月 %></strong></th>
          <td><%= form.date_field :construction_date, id: :property_construction_date, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :土地共有持分面積（平米） %></strong></th>
          <td><%= form.number_field :coownership_area, id: :property_coownership_area, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :土地共有持分（／） %></strong></th>
          <td><%= form.text_field :coownership, id: :property_coownership, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :開発面積／総面積２（平米） %></strong></th>
          <td><%= form.text_field :development_area2, id: :property_development_area2, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :建築面積（平米） %></strong></th>
          <td><%= form.number_field :building_area3, id: :property_building_area3, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :延べ面積（平米） %></strong></th>
          <td><%= form.number_field :totalfloor_area, id: :property_totalfloor_area, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :沿線名１ %></strong></th>
          <td><%= form.text_field :route_name1, id: :property_route_name1, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :駅名１ %></strong></th>
          <td><%= form.text_field :station_name1, id: :property_station_name1, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :駅より徒歩１（ｍ） %></strong></th>
          <td><%= form.number_field :station_walkm1, id: :property_station_walkm1, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :駅より徒歩１（分） %></strong></th>
          <td><%= form.number_field :station_walkd1, id: :property_station_walkd1, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :駅より車１（ｋｍ） %></strong></th>
          <td><%= form.number_field :station_car1, id: :property_station_car1, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :駅よりバス１（分） %></strong></th>
          <td><%= form.number_field :station_bus1, id: :property_station_bus1, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :バス停より徒歩１（ｍ） %></strong></th>
          <td><%= form.number_field :busstop_walkm1, id: :property_busstop_walkm1, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :バス停より徒歩１（分） %></strong></th>
          <td><%= form.number_field :busstop_walkd1, id: :property_busstop_walkd1, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :バス路線名１ %></strong></th>
          <td><%= form.text_field :busroute_name1, id: :property_busroute_name1, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :バス停名称１ %></strong></th>
          <td><%= form.text_field :busstop_name1, id: :property_busstop_name1, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :沿線名２ %></strong></th>
          <td><%= form.text_field :route_name2, id: :property_route_name2, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :駅名２ %></strong></th>
          <td><%= form.text_field :station_name2, id: :property_station_name2, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :駅より徒歩２（ｍ） %></strong></th>
          <td><%= form.number_field :station_walkm2, id: :property_station_walkm2, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :駅より徒歩２（分） %></strong></th>
          <td><%= form.number_field :station_walkd2, id: :property_station_walkd2, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :駅より車２（ｋｍ） %></strong></th>
          <td><%= form.number_field :station_car2, id: :property_station_car2, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :駅よりバス２（分） %></strong></th>
          <td><%= form.number_field :station_bus2, id: :property_station_bus2, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :バス停より徒歩２（ｍ） %></strong></th>
          <td><%= form.number_field :busstop_walkm2, id: :property_busstop_walkm2, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :バス停より徒歩２（分） %></strong></th>
          <td><%= form.number_field :busstop_walkd2, id: :property_busstop_walkd2, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :バス路線名２ %></strong></th>
          <td><%= form.text_field :busroute_name2, id: :property_busroute_name2, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :バス停名称２ %></strong></th>
          <td><%= form.text_field :busstop_name2, id: :property_busstop_name2, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :沿線名３ %></strong></th>
          <td><%= form.text_field :route_name3, id: :property_route_name3, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :駅名３ %></strong></th>
          <td><%= form.text_field :station_name3, id: :property_station_name3, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :駅より徒歩３（ｍ） %></strong></th>
          <td><%= form.number_field :station_walkm3, id: :property_station_walkm3, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :駅より徒歩３（分） %></strong></th>
          <td><%= form.number_field :station_walkd3, id: :property_station_walkd3, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :駅より車３（ｋｍ） %></strong></th>
          <td><%= form.number_field :station_car3, id: :property_station_car3, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :駅よりバス３（分） %></strong></th>
          <td><%= form.number_field :station_bus3, id: :property_station_bus3, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :バス停より徒歩３（ｍ） %></strong></th>
          <td><%= form.number_field :busstop_walkm3, id: :property_busstop_walkm3, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :バス停より徒歩３（分） %></strong></th>
          <td><%= form.number_field :busstop_walkd3, id: :property_busstop_walkd3, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :バス路線名３ %></strong></th>
          <td><%= form.text_field :busroute_name3, id: :property_busroute_name3, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :バス停名称３ %></strong></th>
          <td><%= form.text_field :busstop_name3, id: :property_busstop_name3, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :その他交通手段 %></strong></th>
          <td><%= form.text_field :other_transportation, id: :property_other_transportation, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :間取タイプ %></strong></th>
          <td><%= form.collection_select :floor_plan, Select.where(content_id: "floor_plan"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row"><strong><%= form.label :間取部屋数 %></strong></th>
          <td><%= form.number_field :room, id: :property_room, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :角部屋 %></strong></th>
          <td><%= form.check_box :corner_room, id: :property_corner_room, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :部屋所在階１（階） %></strong></th>
          <td><%= form.number_field :room_level1, id: :property_room_level1, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :部屋タイプ１ %></strong></th>
          <td><%= form.collection_select :room_type1, Select.where(content_id: "room_type"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row"><strong><%= form.label :部屋広さ１（畳） %></strong></th>
          <td><%= form.number_field :room_size1, id: :property_room_size1, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :部屋所在階２（階） %></strong></th>
          <td><%= form.number_field :room_level2, id: :property_room_level2, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :部屋タイプ２ %></strong></th>
          <td><%= form.collection_select :room_type2, Select.where(content_id: "room_type"), :return_text, :return_text, :include_blank => true %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :部屋広さ２（畳） %></strong></th>
          <td><%= form.number_field :room_size2, id: :property_room_size2, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :部屋所在階３（階） %></strong></th>
          <td><%= form.number_field :room_level3, id: :property_room_level3, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :部屋タイプ３ %></strong></th>
          <td><%= form.collection_select :room_type3, Select.where(content_id: "room_type"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row"><strong><%= form.label :部屋広さ３（畳） %></strong></th>
          <td><%= form.number_field :room_size3, id: :property_room_size3, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :部屋所在階４（階） %></strong></th>
          <td><%= form.number_field :room_level4, id: :property_room_level4, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :部屋タイプ４ %></strong></th>
          <td><%= form.collection_select :room_type4, Select.where(content_id: "room_type"), :return_text, :return_text, :include_blank => true %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :部屋広さ４（畳） %></strong></th>
          <td><%= form.number_field :room_size4, id: :property_room_size4, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :部屋所在階５（階） %></strong></th>
          <td><%= form.number_field :room_level5, id: :property_room_level5, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :部屋タイプ５ %></strong></th>
          <td><%= form.collection_select :room_type5, Select.where(content_id: "room_type"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row"><strong><%= form.label :部屋広さ５（畳） %></strong></th>
          <td><%= form.number_field :room_size5, id: :property_room_size5, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :部屋所在階６（階） %></strong></th>
          <td><%= form.number_field :room_level6, id: :property_room_level6, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :部屋タイプ６ %></strong></th>
          <td><%= form.collection_select :room_type6, Select.where(content_id: "room_type"), :return_text, :return_text, :include_blank => true %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :部屋広さ６（畳） %></strong></th>
          <td><%= form.number_field :room_size6, id: :property_room_size6, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :部屋所在階７（階） %></strong></th>
          <td><%= form.number_field :room_level7, id: :property_room_level7, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :部屋タイプ７ %></strong></th>
          <td><%= form.collection_select :room_type7, Select.where(content_id: "room_type"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row"><strong><%= form.label :部屋広さ７（畳） %></strong></th>
          <td><%= form.number_field :room_size7, id: :property_room_size7, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :部屋所在階８（階） %></strong></th>
          <td><%= form.number_field :room_level8, id: :property_room_level8, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :部屋タイプ８ %></strong></th>
          <td><%= form.collection_select :room_type8, Select.where(content_id: "room_type"), :return_text, :return_text, :include_blank => true %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :部屋広さ８（畳） %></strong></th>
          <td><%= form.number_field :room_size8, id: :property_room_size8, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :部屋所在階９（階） %></strong></th>
          <td><%= form.number_field :room_level9, id: :property_room_level9, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :部屋タイプ９ %></strong></th>
          <td><%= form.collection_select :room_type9, Select.where(content_id: "room_type"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row"><strong><%= form.label :部屋広さ９（畳） %></strong></th>
          <td><%= form.number_field :room_size9, id: :property_room_size9, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :その他部屋情報 %></strong></th>
          <td><%= form.text_field :other_room, id: :property_other_room, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :現況 %></strong></th>
          <td><%= form.collection_select :situation, Select.where(content_id: "situation"), :return_text, :return_text, :include_blank => true %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :現況年月日 %></strong></th>
          <td><%= form.date_field :situation_date, id: :property_situation_date, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :引渡時期 %></strong></th>
          <td><%= form.collection_select :transfer, Select.where(content_id: "transfer"), :return_text, :return_text, :include_blank => true %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :引渡年月 %></strong></th>
          <td><%= form.text_field :transfer_date, id: :property_transfer_date, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :入居（可能）年月日 %></strong></th>
          <td><%= form.date_field :move_date, id: :property_move_date, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :報酬形態 %></strong></th>
          <td><%= form.collection_select :remuneration, Select.where(content_id: "remuneration"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row"><strong><%= form.label :手数料割合率 %></strong></th>
          <td><%= form.number_field :fee_part, id: :property_fee_part, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :手数料額 %></strong></th>
          <td><%= form.number_field :fee_amount, id: :property_fee_amount, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :都市計画 %></strong></th>
          <td><%= form.collection_select :town_plan, Select.where(content_id: "town_plan"), :return_text, :return_text, :include_blank => true %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :登記簿地目 %></strong></th>
          <td><%= form.collection_select :register_landcategory, Select.where(content_id: "landcategory"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row"><strong><%= form.label :現況地目 %></strong></th>
          <td><%= form.collection_select :situation_landcategory, Select.where(content_id: "landcategory"), :return_text, :return_text, :include_blank => true %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :用途地域１ %></strong></th>
          <td><%= form.collection_select :zoning1, Select.where(content_id: "zoning"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row"><strong><%= form.label :用途地域２ %></strong></th>
          <td><%= form.collection_select :zoning2, Select.where(content_id: "zoning"), :return_text, :return_text, :include_blank => true %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :最適用途 %></strong></th>
          <td><%= form.collection_select :optimum_site, Select.where(content_id: "optimum_site"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row"><strong><%= form.label :地域地区 %></strong></th>
          <td><%= form.collection_select :zoning_district, Select.where(content_id: "zoning_district"), :return_text, :return_text, :include_blank => true %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :建蔽率 %></strong></th>
          <td><%= form.number_field :buildingcoverage_ratio, id: :property_buildingcoverage_ratio, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :容積率 %></strong></th>
          <td><%= form.number_field :floorarea_ratio, id: :property_floorarea_ratio, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :容積率の制限内容 %></strong></th>
          <td><%= form.text_field :floorarea_restriction, id: :property_floorarea_restriction, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :その他法令上の制限 %></strong></th>
          <td><%= form.text_field :law_restriction, id: :property_law_restriction, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :再建築 %></strong></th>
          <td><%= form.check_box :rebuilding, id: :property_rebuilding, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :国土法届出 %></strong></th>
          <td><%= form.collection_select :nationalland_law, Select.where(content_id: "nationalland_law"), :return_text, :return_text, :include_blank => true %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :建築確認コード %></strong></th>
          <td><%= form.collection_select :buildingcertification, Select.where(content_id: "buildingcertification"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row"><strong><%= form.label :建築確認番号 %></strong></th>
          <td><%= form.text_field :buildingcertification_number, id: :property_buildingcertification_number, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :状況 %></strong></th>
          <td><%= form.collection_select :connecting_road, Select.where(content_id: "connecting_road"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row"><strong><%= form.label :舗装 %></strong></th>
          <td><%= form.collection_select :paved_road, Select.where(content_id: "umu"), :return_text, :return_text, :include_blank => true %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :種別１ %></strong></th>
          <td><%= form.collection_select :road_class1, Select.where(content_id: "road_class"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row"><strong><%= form.label :接面１（ｍ） %></strong></th>
          <td><%= form.number_field :contact_distance1, id: :property_contact_distance1, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :位置指定１ %></strong></th>
          <td><%= form.collection_select :designation_road1, Select.where(content_id: "umu"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row"><strong><%= form.label :方向１ %></strong></th>
          <td><%= form.collection_select :road_direction1, Select.where(content_id: "direction"), :return_text, :return_text, :include_blank => true %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :幅員１（ｍ） %></strong></th>
          <td><%= form.number_field :road_width1, id: :property_road_width1, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :種別２ %></strong></th>
          <td><%= form.collection_select :road_class2, Select.where(content_id: "road_class"), :return_text, :return_text, :include_blank => true %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :接面２（ｍ） %></strong></th>
          <td><%= form.number_field :contact_distance2, id: :property_contact_distance2, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :位置指定２ %></strong></th>
          <td><%= form.collection_select :designation_road2, Select.where(content_id: "umu"), :return_text, :return_text, :include_blank => true %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :方向２ %></strong></th>
          <td><%= form.collection_select :road_direction, Select.where(content_id: "direction"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row"><strong><%= form.label :幅員２（ｍ） %></strong></th>
          <td><%= form.number_field :road_width2, id: :property_road_width2, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :種別３ %></strong></th>
          <td><%= form.collection_select :road_class3, Select.where(content_id: "road_class"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row"><strong><%= form.label :接面３（ｍ） %></strong></th>
          <td><%= form.number_field :contact_distance3, id: :property_contact_distance3, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :位置指定３ %></strong></th>
          <td><%= form.collection_select :designation_road3, Select.where(content_id: "umu"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row"><strong><%= form.label :方向３ %></strong></th>
          <td><%= form.collection_select :road_direction3, Select.where(content_id: "direction"), :return_text, :return_text, :include_blank => true %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :幅員３（ｍ） %></strong></th>
          <td><%= form.number_field :road_width3, id: :property_road_width3, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :種別４ %></strong></th>
          <td><%= form.collection_select :road_class4, Select.where(content_id: "road_class"), :return_text, :return_text, :include_blank => true %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :接面４（ｍ） %></strong></th>
          <td><%= form.number_field :contact_distance4, id: :property_contact_distance4, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :位置指定４ %></strong></th>
          <td><%= form.collection_select :designation_road4, Select.where(content_id: "umu"), :return_text, :return_text, :include_blank => true %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :方向４ %></strong></th>
          <td><%= form.collection_select :road_direction4, Select.where(content_id: "direction"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row"><strong><%= form.label :幅員４（ｍ） %></strong></th>
          <td><%= form.number_field :road_width4, id: :property_road_width4, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :地勢 %></strong></th>
          <td><%= form.collection_select :terrain, Select.where(content_id: "terrain"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row"><strong><%= form.label :建築条件 %></strong></th>
          <td><%= form.collection_select :architectural_condition, Select.where(content_id: "umu"), :return_text, :return_text, :include_blank => true %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :管理組合 %></strong></th>
          <td><%= form.collection_select :homeowner_association, Select.where(content_id: "umu"), :return_text, :return_text, :include_blank => true %></td>
          <th scope="row">&nbsp;</th>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="actions">
    <%= form.submit  :更新, :class => 'btn btn-primary' %>
  </div>
<% end %>
