<p id="notice"><%= notice %></p>

<h1>物件情報</h1>

<div class="table-responsive">
<table class="table table-condensed table-bordered sampletable">
  <thead style="background: #0082ad; color: #FFF;">
  <tr>
    <th colspan="5" scope="col">物件名</th>
  </tr>
    <tr>
      <th>所在地</th>
      <th rowspan="3">価格</th>
      <th>間取り</th>
      <th rowspan="2">築年月</th>
      <th rowspan="3">照会<br>修正<br>削除</th>
    </tr>
    <tr>
      <th>交通1</th>
      <th>土地面積</th>
    </tr>
    <tr>
      <th>交通2</th>
      <th>建物面積</th>
      <th>媒介年月日 / 更新年月日</th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| %>
      <tr class="info">
        <th colspan="5" scope="col"><%= property.city %><%= property.street %> <%= property.property_type2 %></th>
      </tr>
      <tr>
        <td><%= property.prefecture %><%= property.city %><%= property.street %></td>
        <td rowspan="3"><%= property.price %>万円</td>
        <td><%= property.room %><%= property.floor_plan %></td>
        <td rowspan="2">
          <% if property.construction_date == nil then %>
            築年月未登録
          <% else %>
            <%= property.construction_date.to_s(:ymd) %>
          <% end %>
        </td>
        <td><%= link_to '照会', property %></td>
      </tr>
      <tr>
        <td><%= property.route_name1 %> / <%= property.station_name1 %> / <%= property.station_walkd1 %></td>
        <td><%= property.land_area %>m&sup2;</td>
        <td><%= link_to '修正', edit_property_path(property) %></td>
      </tr>
      <tr>
        <td><%= property.busroute_name1 %> / <%= property.busstop_name1 %> / <%= property.busstop_walkd1 %></td>
        <td><%= property.building_area1 %>m&sup2;</td>
        <td><%= property.mediation_date.to_s(:ymd) %> / <%= property.updated_at.to_s(:ymd) %></td>
        <td><%= link_to '削除', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr><td></td></tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to '追加', new_property_path %>
