<p id="notice"><%= notice %></p>

<h1>物件情報</h1>

<table>
  <thead>
    <tr>
      <th>物件種別</th>
      <th>物件種目</th>
      <th>取引態様</th>
      <th>媒介契約年月日</th>
      <th>取引状況</th>
      <th>取引状況の説明</th>
      <th>郵便番号</th>
      <th>都道府県</th>
      <th>市区町村</th>
      <th>番地</th>
      <th>番地表示</th>
      <th>建物名</th>
      <th>部屋番号</th>
      <th>棟番号</th>
      <th>部屋番号表示</th>
      <th>面積計測方式</th>
      <th>土地面積（平米（私道を含まず））</th>
      <th>専有面積（平米）</th>
      <th>建物面積（平米）1</th>
      <th>建物面積（平米）2</th>
      <th>専有面積（平米）</th>
      <th>バルコニー（平米）</th>
      <th>テラス面積（平米）</th>
      <th>専用庭面積（平米）</th>
      <th>私道負担有無</th>
      <th>私道面積（平米）</th>
      <th>私道負担割合（／） </th>
      <th>私道負担割合（平米／平米） </th>
      <th>セットバック区分</th>
      <th>後退距離（m）</th>
      <th>セットバック面積（平米）</th>
      <th>敷地延長</th>
      <th>敷地延長（平米）</th>
      <th>建物面積（１Ｆ（平米））</th>
      <th>建物面積（２Ｆ（平米））</th>
      <th>建物面積（３Ｆ（平米））</th>
      <th>建物面積（その他（平米））</th>
      <th>開発面積／総面積（平米）1</th>
      <th>販売総面積（平米）</th>
      <th>販売区画数（区画）</th>
      <th>工事完了年月</th>
      <th>土地共有持分面積（平米）</th>
      <th>土地共有持分（／）</th>
      <th>開発面積／総面積（平米）2</th>
      <th>建築面積（平米）</th>
      <th>延べ面積（平米）</th>
      <th>沿線名1</th>
      <th>駅名1</th>
      <th>駅より徒歩（m）1</th>
      <th>駅より徒歩（分）1</th>
      <th>駅より車（km）1</th>
      <th>駅よりバス（分）1</th>
      <th>バス停より徒歩（m）1</th>
      <th>バス停より徒歩（分）1</th>
      <th>バス路線名1</th>
      <th>バス停名1</th>
      <th>沿線名2</th>
      <th>駅名2</th>
      <th>駅より徒歩（m）2</th>
      <th>駅より徒歩（分）2</th>
      <th>駅より車（km）2</th>
      <th>駅よりバス（分）2</th>
      <th>バス停より徒歩（m）2</th>
      <th>バス停より徒歩（分）2</th>
      <th>バス路線名2</th>
      <th>バス停名2</th>
      <th>沿線名3</th>
      <th>駅名3</th>
      <th>駅より徒歩（m）3</th>
      <th>駅より徒歩（分）3</th>
      <th>駅より車（km）3</th>
      <th>駅よりバス（分）3</th>
      <th>バス停より徒歩（m）3</th>
      <th>バス停より徒歩（分）3</th>
      <th>バス路線名3</th>
      <th>バス停名3</th>
      <th>その他交通手段</th>
      <th>間取タイプ</th>
      <th>間取部屋数</th>
      <th>角部屋</th>
      <th>部屋所在階1</th>
      <th>部屋タイプ1</th>
      <th>部屋広さ1</th>
      <th>部屋所在階2</th>
      <th>部屋タイプ2</th>
      <th>部屋広さ2</th>
      <th>部屋所在階3</th>
      <th>部屋タイプ3</th>
      <th>部屋広さ3</th>
      <th>部屋所在階4</th>
      <th>部屋タイプ4</th>
      <th>部屋広さ4</th>
      <th>部屋所在階5</th>
      <th>部屋タイプ5</th>
      <th>部屋広さ5</th>
      <th>部屋所在階6</th>
      <th>部屋タイプ6</th>
      <th>部屋広さ6</th>
      <th>部屋所在階7</th>
      <th>部屋タイプ7</th>
      <th>部屋広さ7</th>
      <th>部屋所在階8</th>
      <th>部屋タイプ8</th>
      <th>部屋広さ8</th>
      <th>部屋所在階9</th>
      <th>部屋タイプ9</th>
      <th>部屋広さ9</th>
      <th>その他部屋情報</th>
      <th>価格</th>
      <th>内消費税</th>
      <th>現況</th>
      <th>現況年月日</th>
      <th>引渡時期</th>
      <th>引渡年月</th>
      <th>入居年月日</th>
      <th>報酬形態</th>
      <th>手数料割合率</th>
      <th>手数料額</th>
      <th>都市計画</th>
      <th>登記簿地目</th>
      <th>現況地目</th>
      <th>用途地域1</th>
      <th>用途地域2</th>
      <th>最適用途</th>
      <th>地域地区</th>
      <th>建蔽率</th>
      <th>容積率</th>
      <th>容積率の制限内容</th>
      <th>その他の法令上の制限</th>
      <th>再建築不可</th>
      <th>国土法届出</th>
      <th>建築確認</th>
      <th>建築確認番号</th>
      <th>土地権利</th>
      <th>地勢</th>
      <th>建築条件</th>
      <th>接道状況</th>
      <th>接道舗装</th>
      <th>接道種別1</th>
      <th>接道接面（ｍ）1</th>
      <th>接道位置指定1</th>
      <th>接道方向1</th>
      <th>接道幅員（ｍ）1</th>
      <th>接道種別2</th>
      <th>接道接面（ｍ）2</th>
      <th>接道位置指定2</th>
      <th>接道方向2</th>
      <th>接道幅員（ｍ）2</th>
      <th>接道種別3</th>
      <th>接道接面（ｍ）3</th>
      <th>接道位置指定3</th>
      <th>接道方向3</th>
      <th>接道幅員（ｍ）3</th>
      <th>接道種別4</th>
      <th>接道接面（ｍ）4</th>
      <th>接道位置指定4</th>
      <th>接道方向4</th>
      <th>接道幅員（ｍ）4</th>
      <th>管理組合有無</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.property_type1 %></td>
        <td><%= property.property_type2 %></td>
        <td><%= property.transaction_type %></td>
        <td><%= property.mediation_date %></td>
        <td><%= property.condition %></td>
        <td><%= property.supplementary_explanation %></td>
        <td><%= property.postal_code %></td>
        <td><%= property.prefecture %></td>
        <td><%= property.city %></td>
        <td><%= property.street %></td>
        <td><%= property.show_street %></td>
        <td><%= property.apartment_name %></td>
        <td><%= property.roomnumber %></td>
        <td><%= property.buildingnumber %></td>
        <td><%= property.show_roomnumber %></td>
        <td><%= property.measurement %></td>
        <td><%= property.land_area %></td>
        <td><%= property.occupied_area %></td>
        <td><%= property.building_area1 %></td>
        <td><%= property.building_area2 %></td>
        <td><%= property.occupied_area %></td>
        <td><%= property.balcony_area %></td>
        <td><%= property.terrace_area %></td>
        <td><%= property.privategarden_area %></td>
        <td><%= property.driveway_burden %></td>
        <td><%= property.driveway_area %></td>
        <td><%= property.driveway_part1 %></td>
        <td><%= property.driveway_part2 %></td>
        <td><%= property.setback_class %></td>
        <td><%= property.setback_distance %></td>
        <td><%= property.setback_area %></td>
        <td><%= property.alleyground_class %></td>
        <td><%= property.alleyground_area %></td>
        <td><%= property.firstfloor_area %></td>
        <td><%= property.secondfloor_area %></td>
        <td><%= property.thirdfloor_area %></td>
        <td><%= property.otherfloor_area %></td>
        <td><%= property.development_area1 %></td>
        <td><%= property.total_area %></td>
        <td><%= property.subdivision %></td>
        <td><%= property.construction_date %></td>
        <td><%= property.coownership_area %></td>
        <td><%= property.coownership %></td>
        <td><%= property.development_area2 %></td>
        <td><%= property.building_area3 %></td>
        <td><%= property.totalfloor_area %></td>
        <td><%= property.route_name1 %></td>
        <td><%= property.station_name1 %></td>
        <td><%= property.station_walkm1 %></td>
        <td><%= property.station_walkd1 %></td>
        <td><%= property.station_car1 %></td>
        <td><%= property.station_bus1 %></td>
        <td><%= property.busstop_walkm1 %></td>
        <td><%= property.busstop_walkd1 %></td>
        <td><%= property.busroute_name1 %></td>
        <td><%= property.busstop_name1 %></td>
        <td><%= property.route_name2 %></td>
        <td><%= property.station_name2 %></td>
        <td><%= property.station_walkm2 %></td>
        <td><%= property.station_walkd2 %></td>
        <td><%= property.station_car2 %></td>
        <td><%= property.station_bus2 %></td>
        <td><%= property.busstop_walkm2 %></td>
        <td><%= property.busstop_walkd2 %></td>
        <td><%= property.busroute_name2 %></td>
        <td><%= property.busstop_name2 %></td>
        <td><%= property.route_name3 %></td>
        <td><%= property.station_name3 %></td>
        <td><%= property.station_walkm3 %></td>
        <td><%= property.station_walkd3 %></td>
        <td><%= property.station_car3 %></td>
        <td><%= property.station_bus3 %></td>
        <td><%= property.busstop_walkm3 %></td>
        <td><%= property.busstop_walkd3 %></td>
        <td><%= property.busroute_name3 %></td>
        <td><%= property.busstop_name3 %></td>
        <td><%= property.other_transportation %></td>
        <td><%= property.floor_plan %></td>
        <td><%= property.room %></td>
        <td><%= property.corner_room %></td>
        <td><%= property.room_level1 %></td>
        <td><%= property.room_type1 %></td>
        <td><%= property.room_size1 %></td>
        <td><%= property.room_level2 %></td>
        <td><%= property.room_type2 %></td>
        <td><%= property.room_size2 %></td>
        <td><%= property.room_level3 %></td>
        <td><%= property.room_type3 %></td>
        <td><%= property.room_size3 %></td>
        <td><%= property.room_level4 %></td>
        <td><%= property.room_type4 %></td>
        <td><%= property.room_size4 %></td>
        <td><%= property.room_level5 %></td>
        <td><%= property.room_type5 %></td>
        <td><%= property.room_size5 %></td>
        <td><%= property.room_level6 %></td>
        <td><%= property.room_type6 %></td>
        <td><%= property.room_size6 %></td>
        <td><%= property.room_level7 %></td>
        <td><%= property.room_type7 %></td>
        <td><%= property.room_size7 %></td>
        <td><%= property.room_level8 %></td>
        <td><%= property.room_type8 %></td>
        <td><%= property.room_size8 %></td>
        <td><%= property.room_level9 %></td>
        <td><%= property.room_type9 %></td>
        <td><%= property.room_size9 %></td>
        <td><%= property.other_room %></td>
        <td><%= property.price %></td>
        <td><%= property.consumption_tax %></td>
        <td><%= property.situation %></td>
        <td><%= property.situation_date %></td>
        <td><%= property.transfer %></td>
        <td><%= property.transfer_date %></td>
        <td><%= property.move_date %></td>
        <td><%= property.remuneration %></td>
        <td><%= property.fee_part %></td>
        <td><%= property.fee_amount %></td>
        <td><%= property.town_plan %></td>
        <td><%= property.register_landcategory %></td>
        <td><%= property.situation_landcategory %></td>
        <td><%= property.zoning1 %></td>
        <td><%= property.zoning2 %></td>
        <td><%= property.optimum_site %></td>
        <td><%= property.zoning_district %></td>
        <td><%= property.buildingcoverage_ratio %></td>
        <td><%= property.floorarea_ratio %></td>
        <td><%= property.floorarea_restriction %></td>
        <td><%= property.law_restriction %></td>
        <td><%= property.rebuilding %></td>
        <td><%= property.nationalland_law %></td>
        <td><%= property.buildingcertification %></td>
        <td><%= property.buildingcertification_number %></td>
        <td><%= property.land_title %></td>
        <td><%= property.terrain %></td>
        <td><%= property.architectural_condition %></td>
        <td><%= property.connecting_road %></td>
        <td><%= property.paved_road %></td>
        <td><%= property.road_class1 %></td>
        <td><%= property.contact_distance1 %></td>
        <td><%= property.designation_road1 %></td>
        <td><%= property.road_direction1 %></td>
        <td><%= property.road_width1 %></td>
        <td><%= property.road_class2 %></td>
        <td><%= property.contact_distance2 %></td>
        <td><%= property.designation_road2 %></td>
        <td><%= property.road_direction2 %></td>
        <td><%= property.road_width2 %></td>
        <td><%= property.road_class3 %></td>
        <td><%= property.contact_distance3 %></td>
        <td><%= property.designation_road3 %></td>
        <td><%= property.road_direction3 %></td>
        <td><%= property.road_width3 %></td>
        <td><%= property.road_class4 %></td>
        <td><%= property.contact_distance4 %></td>
        <td><%= property.designation_road4 %></td>
        <td><%= property.road_direction4 %></td>
        <td><%= property.road_width4 %></td>
        <td><%= property.homeowner_association %></td>
        <td><%= link_to '照会', property %></td>
        <td><%= link_to '修正', edit_property_path(property) %></td>
        <td><%= link_to '削除', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '追加', new_property_path %>
