<p id="notice"><%= notice %></p>

<h1>【照会】物件情報</h1>

<div class="table-responsive">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row"><strong>物件種別:</strong></th>
        <td><%= @property.property_type1 %></td>
        <th scope="row"><strong>物件種目:</strong></th>
        <td><%= @property.property_type2 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>取引態様:</strong></th>
        <td><%= @property.transaction_type %></td>
        <th scope="row"><strong>媒介契約年月日:</strong></th>
        <td><%= @property.mediation_date %></td>
      </tr>
      <tr>
        <th scope="row"><strong>取引状況:</strong></th>
        <td><%= @property.condition %></td>
        <th scope="row"><strong>取引状況の説明:</strong></th>
        <td><%= @property.supplementary_explanation %></td>
      </tr>
      <tr>
        <th scope="row"><strong>郵便番号:</strong></th>
        <td><%= @property.postal_code %></td>
        <th scope="row"><strong>都道府県:</strong></th>
        <td><%= @property.prefecture %></td>
      </tr>
      <tr>
        <th scope="row"><strong>市区町村:</strong></th>
        <td><%= @property.city %></td>
        <th scope="row"><strong>番地:</strong></th>
        <td><%= @property.street %></td>
      </tr>
      <tr>
        <th scope="row"><strong>番地表示:</strong></th>
        <td><%= @property.show_street %></td>
        <th scope="row"><strong>建物名:</strong></th>
        <td><%= @property.apartment_name %></td>
      </tr>
      <tr>
        <th scope="row"><strong>部屋番号:</strong></th>
        <td><%= @property.roomnumber %></td>
        <th scope="row"><strong>棟番号:</strong></th>
        <td><%= @property.buildingnumber %></td>
      </tr>
      <tr>
        <th scope="row"><strong>部屋番号表示:</strong></th>
        <td><%= @property.show_roomnumber %></td>
        <th scope="row"><strong>面積計測方式:</strong></th>
        <td><%= @property.measurement %></td>
      </tr>
      <tr>
        <th scope="row"><strong>土地面積（平米（私道を含まず））:</strong></th>
        <td><%= @property.land_area %></td>
        <th scope="row"><strong>専有面積（平米）:</strong></th>
        <td><%= @property.occupied_area %></td>
      </tr>
      <tr>
        <th scope="row"><strong>建物面積（平米）1:</strong></th>
        <td><%= @property.building_area1 %></td>
        <th scope="row"><strong>建物面積（平米）2:</strong></th>
        <td><%= @property.building_area2 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>専有面積（平米）:</strong></th>
        <td><%= @property.occupied_area %></td>
        <th scope="row"><strong>バルコニー（平米）:</strong></th>
        <td><%= @property.balcony_area %></td>
      </tr>
      <tr>
        <th scope="row"><strong>テラス面積（平米）:</strong></th>
        <td><%= @property.terrace_area %></td>
        <th scope="row"><strong>専用庭面積（平米）:</strong></th>
        <td><%= @property.privategarden_area %></td>
      </tr>
      <tr>
        <th scope="row"><strong>私道負担有無:</strong></th>
        <td><%= @property.driveway_burden %></td>
        <th scope="row"><strong>私道面積（平米）:</strong></th>
        <td><%= @property.driveway_area %></td>
      </tr>
      <tr>
        <th scope="row"><strong>私道負担割合（／） :</strong></th>
        <td><%= @property.driveway_part1 %></td>
        <th scope="row"><strong>私道負担割合（平米／平米） :</strong></th>
        <td><%= @property.driveway_part2 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>セットバック区分:</strong></th>
        <td><%= @property.setback_class %></td>
        <th scope="row"><strong>後退距離（m）:</strong></th>
        <td><%= @property.setback_distance %></td>
      </tr>
      <tr>
        <th scope="row"><strong>セットバック面積（平米）:</strong></th>
        <td><%= @property.setback_area %></td>
        <th scope="row"><strong>敷地延長:</strong></th>
        <td><%= @property.alleyground_class %></td>
      </tr>
      <tr>
        <th scope="row"><strong>敷地延長（平米）:</strong></th>
        <td><%= @property.alleyground_area %></td>
        <th scope="row"><strong>建物面積（１Ｆ（平米））:</strong></th>
        <td><%= @property.firstfloor_area %></td>
      </tr>
      <tr>
        <th scope="row"><strong>建物面積（２Ｆ（平米））:</strong></th>
        <td><%= @property.secondfloor_area %></td>
        <th scope="row"><strong>建物面積（３Ｆ（平米））:</strong></th>
        <td><%= @property.thirdfloor_area %></td>
      </tr>
      <tr>
        <th scope="row"><strong>建物面積（その他（平米））:</strong></th>
        <td><%= @property.otherfloor_area %></td>
        <th scope="row"><strong>開発面積／総面積（平米）1:</strong></th>
        <td><%= @property.development_area1 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>販売総面積（平米）:</strong></th>
        <td><%= @property.total_area %></td>
        <th scope="row"><strong>販売区画数（区画）:</strong></th>
        <td><%= @property.subdivision %></td>
      </tr>
      <tr>
        <th scope="row"><strong>工事完了年月:</strong></th>
        <td><%= @property.construction_date %></td>
        <th scope="row"><strong>土地共有持分面積（平米）:</strong></th>
        <td><%= @property.coownership_area %></td>
      </tr>
      <tr>
        <th scope="row"><strong>土地共有持分（／）:</strong></th>
        <td><%= @property.coownership %></td>
        <th scope="row"><strong>開発面積／総面積（平米）2:</strong></th>
        <td><%= @property.development_area2 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>建築面積（平米）:</strong></th>
        <td><%= @property.building_area3 %></td>
        <th scope="row"><strong>延べ面積（平米）:</strong></th>
        <td><%= @property.totalfloor_area %></td>
      </tr>
      <tr>
        <th scope="row"><strong>沿線名1:</strong></th>
        <td><%= @property.route_name1 %></td>
        <th scope="row"><strong>駅名1:</strong></th>
        <td><%= @property.station_name1 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>駅より徒歩（m）1:</strong></th>
        <td><%= @property.station_walkm1 %></td>
        <th scope="row"><strong>駅より徒歩（分）1:</strong></th>
        <td><%= @property.station_walkd1 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>駅より車（km）1:</strong></th>
        <td><%= @property.station_car1 %></td>
        <th scope="row"><strong>駅よりバス（分）1:</strong></th>
        <td><%= @property.station_bus1 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>Busstop walkm1:</strong></th>
        <td><%= @property.busstop_walkm1 %></td>
        <th scope="row"><strong>バス停より徒歩（分）1:</strong></th>
        <td><%= @property.busstop_walkd1 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>バス路線名1:</strong></th>
        <td><%= @property.busroute_name1 %></td>
        <th scope="row"><strong>バス停名1:</strong></th>
        <td><%= @property.busstop_name1 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>沿線名2:</strong></th>
        <td><%= @property.route_name2 %></td>
        <th scope="row"><strong>駅名2:</strong></th>
        <td><%= @property.station_name2 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>駅より徒歩（m）2:</strong></th>
        <td><%= @property.station_walkm2 %></td>
        <th scope="row"><strong>駅より徒歩（分）2:</strong></th>
        <td><%= @property.station_walkd2 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>駅より車（km）2:</strong></th>
        <td><%= @property.station_car2 %></td>
        <th scope="row"><strong>駅よりバス（分）2:</strong></th>
        <td><%= @property.station_bus2 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>Busstop walkm2:</strong></th>
        <td><%= @property.busstop_walkm2 %></td>
        <th scope="row"><strong>バス停より徒歩（分）2:</strong></th>
        <td><%= @property.busstop_walkd2 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>バス路線名2:</strong></th>
        <td><%= @property.busroute_name2 %></td>
        <th scope="row"><strong>バス停名2:</strong></th>
        <td><%= @property.busstop_name2 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>沿線名3:</strong></th>
        <td><%= @property.route_name3 %></td>
        <th scope="row"><strong>駅名3:</strong></th>
        <td><%= @property.station_name3 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>駅より徒歩（m）3:</strong></th>
        <td><%= @property.station_walkm3 %></td>
        <th scope="row"><strong>駅より徒歩（分）3:</strong></th>
        <td><%= @property.station_walkd3 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>駅より車（km）3:</strong></th>
        <td><%= @property.station_car3 %></td>
        <th scope="row"><strong>駅よりバス（分）3:</strong></th>
        <td><%= @property.station_bus3 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>Busstop walkm3:</strong></th>
        <td><%= @property.busstop_walkm3 %></td>
        <th scope="row"><strong>バス停より徒歩（分）3:</strong></th>
        <td><%= @property.busstop_walkd3 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>バス路線名3:</strong></th>
        <td><%= @property.busroute_name3 %></td>
        <th scope="row"><strong>バス停名3:</strong></th>
        <td><%= @property.busstop_name3 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>その他交通手段:</strong></th>
        <td><%= @property.other_transportation %></td>
        <th scope="row"><strong>間取タイプ:</strong></th>
        <td><%= @property.floor_plan %></td>
      </tr>
      <tr>
        <th scope="row"><strong>間取部屋数:</strong></th>
        <td><%= @property.room %></td>
        <th scope="row"><strong>角部屋:</strong></th>
        <td><%= @property.corner_room %></td>
      </tr>
      <tr>
        <th scope="row"><strong>部屋所在階1:</strong></th>
        <td><%= @property.room_level1 %></td>
        <th scope="row"><strong>部屋タイプ1:</strong></th>
        <td><%= @property.room_type1 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>部屋広さ1:</strong></th>
        <td><%= @property.room_size1 %></td>
        <th scope="row"><strong>部屋所在階2:</strong></th>
        <td><%= @property.room_level2 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>部屋タイプ2:</strong></th>
        <td><%= @property.room_type2 %></td>
        <th scope="row"><strong>部屋広さ2:</strong></th>
        <td><%= @property.room_size2 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>部屋所在階3:</strong></th>
        <td><%= @property.room_level3 %></td>
        <th scope="row"><strong>部屋タイプ3:</strong></th>
        <td><%= @property.room_type3 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>部屋広さ3:</strong></th>
        <td><%= @property.room_size3 %></td>
        <th scope="row"><strong>部屋所在階4:</strong></th>
        <td><%= @property.room_level4 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>部屋タイプ4:</strong></th>
        <td><%= @property.room_type4 %></td>
        <th scope="row"><strong>部屋広さ4:</strong></th>
        <td><%= @property.room_size4 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>部屋所在階5:</strong></th>
        <td><%= @property.room_level5 %></td>
        <th scope="row"><strong>部屋タイプ5:</strong></th>
        <td><%= @property.room_type5 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>部屋広さ5:</strong></th>
        <td><%= @property.room_size5 %></td>
        <th scope="row"><strong>部屋所在階6:</strong></th>
        <td><%= @property.room_level6 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>部屋タイプ6:</strong></th>
        <td><%= @property.room_type6 %></td>
        <th scope="row"><strong>部屋広さ6:</strong></th>
        <td><%= @property.room_size6 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>部屋所在階7:</strong></th>
        <td><%= @property.room_level7 %></td>
        <th scope="row"><strong>部屋タイプ7:</strong></th>
        <td><%= @property.room_type7 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>部屋広さ7:</strong></th>
        <td><%= @property.room_size7 %></td>
        <th scope="row"><strong>部屋所在階8</strong></th>
        <td><%= @property.room_level8 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>部屋タイプ8:</strong></th>
        <td><%= @property.room_type8 %></td>
        <th scope="row"><strong>部屋広さ8:</strong></th>
        <td><%= @property.room_size8 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>部屋所在階9:</strong></th>
        <td><%= @property.room_level9 %></td>
        <th scope="row"><strong>部屋タイプ9:</strong></th>
        <td><%= @property.room_type9 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>部屋広さ9:</strong></th>
        <td><%= @property.room_size9 %></td>
        <th scope="row"><strong>その他部屋情報:</strong></th>
        <td><%= @property.other_room %></td>
      </tr>
      <tr>
        <th scope="row"><strong>価格:</strong></th>
        <td><%= @property.price %></td>
        <th scope="row"><strong>内消費税:</strong></th>
        <td><%= @property.consumption_tax %></td>
      </tr>
      <tr>
        <th scope="row"><strong>現況:</strong></th>
        <td><%= @property.situation %></td>
        <th scope="row"><strong>現況年月日:</strong></th>
        <td><%= @property.situation_date %></td>
      </tr>
      <tr>
        <th scope="row"><strong>引渡時期:</strong></th>
        <td><%= @property.transfer %></td>
        <th scope="row"><strong>引渡年月:</strong></th>
        <td><%= @property.transfer_date %></td>
      </tr>
      <tr>
        <th scope="row"><strong>入居年月日:</strong></th>
        <td><%= @property.move_date %></td>
        <th scope="row"><strong>報酬形態:</strong></th>
        <td><%= @property.remuneration %></td>
      </tr>
      <tr>
        <th scope="row"><strong>手数料割合率:</strong></th>
        <td><%= @property.fee_part %></td>
        <th scope="row"><strong>手数料額:</strong></th>
        <td><%= @property.fee_amount %></td>
      </tr>
      <tr>
        <th scope="row"><strong>都市計画:</strong></th>
        <td><%= @property.town_plan %></td>
        <th scope="row"><strong>登記簿地目:</strong></th>
        <td><%= @property.register_landcategory %></td>
      </tr>
      <tr>
        <th scope="row"><strong>現況地目:</strong></th>
        <td><%= @property.situation_landcategory %></td>
        <th scope="row"><strong>用途地域1:</strong></th>
        <td><%= @property.zoning1 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>用途地域2:</strong></th>
        <td><%= @property.zoning2 %></td>
        <th scope="row"><strong>最適用途:</strong></th>
        <td><%= @property.optimum_site %></td>
      </tr>
      <tr>
        <th scope="row"><strong>地域地区:</strong></th>
        <td><%= @property.zoning_district %></td>
        <th scope="row"><strong>建蔽率:</strong></th>
        <td><%= @property.buildingcoverage_ratio %></td>
      </tr>
      <tr>
        <th scope="row"><strong>容積率:</strong></th>
        <td><%= @property.floorarea_ratio %></td>
        <th scope="row"><strong>容積率の制限内容:</strong></th>
        <td><%= @property.floorarea_restriction %></td>
      </tr>
      <tr>
        <th scope="row"><strong>その他の法令上の制限:</strong></th>
        <td><%= @property.law_restriction %></td>
        <th scope="row"><strong>再建築不可:</strong></th>
        <td><%= @property.rebuilding %></td>
      </tr>
      <tr>
        <th scope="row"><strong>国土法届出:</strong></th>
        <td><%= @property.nationalland_law %></td>
        <th scope="row"><strong>建築確認:</strong></th>
        <td><%= @property.buildingcertification %></td>
      </tr>
      <tr>
        <th scope="row"><strong>建築確認番号:</strong></th>
        <td><%= @property.buildingcertification_number %></td>
        <th scope="row"><strong>土地権利:</strong></th>
        <td><%= @property.land_title %></td>
      </tr>
      <tr>
        <th scope="row"><strong>地勢:</strong></th>
        <td><%= @property.terrain %></td>
        <th scope="row"><strong>建築条件:</strong></th>
        <td><%= @property.architectural_condition %></td>
      </tr>
      <tr>
        <th scope="row"><strong>接道状況:</strong></th>
        <td><%= @property.connecting_road %></td>
        <th scope="row"><strong>接道舗装:</strong></th>
        <td><%= @property.paved_road %></td>
      </tr>
      <tr>
        <th scope="row"><strong>接道種別1:</strong></th>
        <td><%= @property.road_class1 %></td>
        <th scope="row"><strong>接道接面（ｍ）1:</strong></th>
        <td><%= @property.contact_distance1 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>接道位置指定1:</strong></th>
        <td><%= @property.designation_road1 %></td>
        <th scope="row"><strong>接道方向1:</strong></th>
        <td><%= @property.road_direction1 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>接道幅員（ｍ）1:</strong></th>
        <td><%= @property.road_width1 %></td>
        <th scope="row"><strong>接道種別2:</strong></th>
        <td><%= @property.road_class2 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>接道接面（ｍ）2:</strong></th>
        <td><%= @property.contact_distance2 %></td>
        <th scope="row"><strong>接道位置指定2:</strong></th>
        <td><%= @property.designation_road2 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>接道方向2:</strong></th>
        <td><%= @property.road_direction2 %></td>
        <th scope="row"><strong>接道幅員（ｍ）2:</strong></th>
        <td><%= @property.road_width2 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>接道種別3:</strong></th>
        <td><%= @property.road_class3 %></td>
        <th scope="row"><strong>接道接面（ｍ）3:</strong></th>
        <td><%= @property.contact_distance3 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>接道位置指定3:</strong></th>
        <td><%= @property.designation_road3 %></td>
        <th scope="row"><strong>接道方向3:</strong></th>
        <td><%= @property.road_direction3 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>接道幅員（ｍ）3:</strong></th>
        <td><%= @property.road_width3 %></td>
        <th scope="row"><strong>接道種別4:</strong></th>
        <td><%= @property.road_class4 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>接道接面（ｍ）4:</strong></th>
        <td><%= @property.contact_distance4 %></td>
        <th scope="row"><strong>接道位置指定4:</strong></th>
        <td><%= @property.designation_road4 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>接道方向4:</strong></th>
        <td><%= @property.road_direction4 %></td>
        <th scope="row"><strong>接道幅員（ｍ）4:</strong></th>
        <td><%= @property.road_width4 %></td>
      </tr>
      <tr>
        <th scope="row"><strong>管理組合有無:</strong></th>
        <td><%= @property.homeowner_association %></td>
        <th scope="row">&nbsp;</th>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>

<%= link_to '修正', edit_property_path(@property) %> |
<%= link_to '戻る', properties_path %>
