<%= form_with(model: admin_property_area, local: true) do |form| %>
  <% if admin_property_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_property_area.errors.count, "error") %> prohibited this admin_property_area from being saved:</h2>

      <ul>
      <% admin_property_area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.number_field :property_id, id: :admin_property_area_property_id %>
  </div>

  <div class="field">
    <%= form.label :measurement %>
    <%= form.text_field :measurement, id: :admin_property_area_measurement %>
  </div>

  <div class="field">
    <%= form.label :land_area %>
    <%= form.number_field :land_area, id: :admin_property_area_land_area %>
  </div>

  <div class="field">
    <%= form.label :occupied_area %>
    <%= form.number_field :occupied_area, id: :admin_property_area_occupied_area %>
  </div>

  <div class="field">
    <%= form.label :building_area1 %>
    <%= form.number_field :building_area1, id: :admin_property_area_building_area1 %>
  </div>

  <div class="field">
    <%= form.label :building_area2 %>
    <%= form.number_field :building_area2, id: :admin_property_area_building_area2 %>
  </div>

  <div class="field">
    <%= form.label :occupied_area %>
    <%= form.number_field :occupied_area, id: :admin_property_area_occupied_area %>
  </div>

  <div class="field">
    <%= form.label :balcony_area %>
    <%= form.number_field :balcony_area, id: :admin_property_area_balcony_area %>
  </div>

  <div class="field">
    <%= form.label :terrace_area %>
    <%= form.number_field :terrace_area, id: :admin_property_area_terrace_area %>
  </div>

  <div class="field">
    <%= form.label :privategarden_area %>
    <%= form.number_field :privategarden_area, id: :admin_property_area_privategarden_area %>
  </div>

  <div class="field">
    <%= form.label :driveway_burden %>
    <%= form.text_field :driveway_burden, id: :admin_property_area_driveway_burden %>
  </div>

  <div class="field">
    <%= form.label :driveway_area %>
    <%= form.number_field :driveway_area, id: :admin_property_area_driveway_area %>
  </div>

  <div class="field">
    <%= form.label :driveway_part1 %>
    <%= form.text_field :driveway_part1, id: :admin_property_area_driveway_part1 %>
  </div>

  <div class="field">
    <%= form.label :driveway_part2 %>
    <%= form.text_field :driveway_part2, id: :admin_property_area_driveway_part2 %>
  </div>

  <div class="field">
    <%= form.label :setback_class %>
    <%= form.text_field :setback_class, id: :admin_property_area_setback_class %>
  </div>

  <div class="field">
    <%= form.label :setback_distance %>
    <%= form.number_field :setback_distance, id: :admin_property_area_setback_distance %>
  </div>

  <div class="field">
    <%= form.label :setback_area %>
    <%= form.number_field :setback_area, id: :admin_property_area_setback_area %>
  </div>

  <div class="field">
    <%= form.label :alleyground_class %>
    <%= form.text_field :alleyground_class, id: :admin_property_area_alleyground_class %>
  </div>

  <div class="field">
    <%= form.label :alleyground_area %>
    <%= form.number_field :alleyground_area, id: :admin_property_area_alleyground_area %>
  </div>

  <div class="field">
    <%= form.label :firstfloor_area %>
    <%= form.number_field :firstfloor_area, id: :admin_property_area_firstfloor_area %>
  </div>

  <div class="field">
    <%= form.label :secondfloor_area %>
    <%= form.number_field :secondfloor_area, id: :admin_property_area_secondfloor_area %>
  </div>

  <div class="field">
    <%= form.label :thirdfloor_area %>
    <%= form.number_field :thirdfloor_area, id: :admin_property_area_thirdfloor_area %>
  </div>

  <div class="field">
    <%= form.label :otherfloor_area %>
    <%= form.text_area :otherfloor_area, id: :admin_property_area_otherfloor_area %>
  </div>

  <div class="field">
    <%= form.label :development_area1 %>
    <%= form.text_field :development_area1, id: :admin_property_area_development_area1 %>
  </div>

  <div class="field">
    <%= form.label :total_area %>
    <%= form.number_field :total_area, id: :admin_property_area_total_area %>
  </div>

  <div class="field">
    <%= form.label :subdivision %>
    <%= form.number_field :subdivision, id: :admin_property_area_subdivision %>
  </div>

  <div class="field">
    <%= form.label :construction_date %>
    <%= form.date_select :construction_date, id: :admin_property_area_construction_date %>
  </div>

  <div class="field">
    <%= form.label :coownership_area %>
    <%= form.number_field :coownership_area, id: :admin_property_area_coownership_area %>
  </div>

  <div class="field">
    <%= form.label :coownership %>
    <%= form.text_field :coownership, id: :admin_property_area_coownership %>
  </div>

  <div class="field">
    <%= form.label :development_area2 %>
    <%= form.text_field :development_area2, id: :admin_property_area_development_area2 %>
  </div>

  <div class="field">
    <%= form.label :building_area3 %>
    <%= form.number_field :building_area3, id: :admin_property_area_building_area3 %>
  </div>

  <div class="field">
    <%= form.label :totalfloor_area %>
    <%= form.number_field :totalfloor_area, id: :admin_property_area_totalfloor_area %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
