<p id="notice"><%= notice %></p>

<h1>Admin Property Areas</h1>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Measurement</th>
      <th>Land area</th>
      <th>Occupied area</th>
      <th>Building area1</th>
      <th>Building area2</th>
      <th>Occupied area</th>
      <th>Balcony area</th>
      <th>Terrace area</th>
      <th>Privategarden area</th>
      <th>Driveway burden</th>
      <th>Driveway area</th>
      <th>Driveway part1</th>
      <th>Driveway part2</th>
      <th>Setback class</th>
      <th>Setback distance</th>
      <th>Setback area</th>
      <th>Alleyground class</th>
      <th>Alleyground area</th>
      <th>Firstfloor area</th>
      <th>Secondfloor area</th>
      <th>Thirdfloor area</th>
      <th>Otherfloor area</th>
      <th>Development area1</th>
      <th>Total area</th>
      <th>Subdivision</th>
      <th>Construction date</th>
      <th>Coownership area</th>
      <th>Coownership</th>
      <th>Development area2</th>
      <th>Building area3</th>
      <th>Totalfloor area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_property_areas.each do |admin_property_area| %>
      <tr>
        <td><%= admin_property_area.property_id %></td>
        <td><%= admin_property_area.measurement %></td>
        <td><%= admin_property_area.land_area %></td>
        <td><%= admin_property_area.occupied_area %></td>
        <td><%= admin_property_area.building_area1 %></td>
        <td><%= admin_property_area.building_area2 %></td>
        <td><%= admin_property_area.occupied_area %></td>
        <td><%= admin_property_area.balcony_area %></td>
        <td><%= admin_property_area.terrace_area %></td>
        <td><%= admin_property_area.privategarden_area %></td>
        <td><%= admin_property_area.driveway_burden %></td>
        <td><%= admin_property_area.driveway_area %></td>
        <td><%= admin_property_area.driveway_part1 %></td>
        <td><%= admin_property_area.driveway_part2 %></td>
        <td><%= admin_property_area.setback_class %></td>
        <td><%= admin_property_area.setback_distance %></td>
        <td><%= admin_property_area.setback_area %></td>
        <td><%= admin_property_area.alleyground_class %></td>
        <td><%= admin_property_area.alleyground_area %></td>
        <td><%= admin_property_area.firstfloor_area %></td>
        <td><%= admin_property_area.secondfloor_area %></td>
        <td><%= admin_property_area.thirdfloor_area %></td>
        <td><%= admin_property_area.otherfloor_area %></td>
        <td><%= admin_property_area.development_area1 %></td>
        <td><%= admin_property_area.total_area %></td>
        <td><%= admin_property_area.subdivision %></td>
        <td><%= admin_property_area.construction_date %></td>
        <td><%= admin_property_area.coownership_area %></td>
        <td><%= admin_property_area.coownership %></td>
        <td><%= admin_property_area.development_area2 %></td>
        <td><%= admin_property_area.building_area3 %></td>
        <td><%= admin_property_area.totalfloor_area %></td>
        <td><%= link_to 'Show', admin_property_area %></td>
        <td><%= link_to 'Edit', edit_admin_property_area_path(admin_property_area) %></td>
        <td><%= link_to 'Destroy', admin_property_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Property Area', new_admin_property_area_path %>
