<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @admin_property_area.property_id %>
</p>

<p>
  <strong>Measurement:</strong>
  <%= @admin_property_area.measurement %>
</p>

<p>
  <strong>Land area:</strong>
  <%= @admin_property_area.land_area %>
</p>

<p>
  <strong>Occupied area:</strong>
  <%= @admin_property_area.occupied_area %>
</p>

<p>
  <strong>Building area1:</strong>
  <%= @admin_property_area.building_area1 %>
</p>

<p>
  <strong>Building area2:</strong>
  <%= @admin_property_area.building_area2 %>
</p>

<p>
  <strong>Occupied area:</strong>
  <%= @admin_property_area.occupied_area %>
</p>

<p>
  <strong>Balcony area:</strong>
  <%= @admin_property_area.balcony_area %>
</p>

<p>
  <strong>Terrace area:</strong>
  <%= @admin_property_area.terrace_area %>
</p>

<p>
  <strong>Privategarden area:</strong>
  <%= @admin_property_area.privategarden_area %>
</p>

<p>
  <strong>Driveway burden:</strong>
  <%= @admin_property_area.driveway_burden %>
</p>

<p>
  <strong>Driveway area:</strong>
  <%= @admin_property_area.driveway_area %>
</p>

<p>
  <strong>Driveway part1:</strong>
  <%= @admin_property_area.driveway_part1 %>
</p>

<p>
  <strong>Driveway part2:</strong>
  <%= @admin_property_area.driveway_part2 %>
</p>

<p>
  <strong>Setback class:</strong>
  <%= @admin_property_area.setback_class %>
</p>

<p>
  <strong>Setback distance:</strong>
  <%= @admin_property_area.setback_distance %>
</p>

<p>
  <strong>Setback area:</strong>
  <%= @admin_property_area.setback_area %>
</p>

<p>
  <strong>Alleyground class:</strong>
  <%= @admin_property_area.alleyground_class %>
</p>

<p>
  <strong>Alleyground area:</strong>
  <%= @admin_property_area.alleyground_area %>
</p>

<p>
  <strong>Firstfloor area:</strong>
  <%= @admin_property_area.firstfloor_area %>
</p>

<p>
  <strong>Secondfloor area:</strong>
  <%= @admin_property_area.secondfloor_area %>
</p>

<p>
  <strong>Thirdfloor area:</strong>
  <%= @admin_property_area.thirdfloor_area %>
</p>

<p>
  <strong>Otherfloor area:</strong>
  <%= @admin_property_area.otherfloor_area %>
</p>

<p>
  <strong>Development area1:</strong>
  <%= @admin_property_area.development_area1 %>
</p>

<p>
  <strong>Total area:</strong>
  <%= @admin_property_area.total_area %>
</p>

<p>
  <strong>Subdivision:</strong>
  <%= @admin_property_area.subdivision %>
</p>

<p>
  <strong>Construction date:</strong>
  <%= @admin_property_area.construction_date %>
</p>

<p>
  <strong>Coownership area:</strong>
  <%= @admin_property_area.coownership_area %>
</p>

<p>
  <strong>Coownership:</strong>
  <%= @admin_property_area.coownership %>
</p>

<p>
  <strong>Development area2:</strong>
  <%= @admin_property_area.development_area2 %>
</p>

<p>
  <strong>Building area3:</strong>
  <%= @admin_property_area.building_area3 %>
</p>

<p>
  <strong>Totalfloor area:</strong>
  <%= @admin_property_area.totalfloor_area %>
</p>

<%= link_to 'Edit', edit_admin_property_area_path(@admin_property_area) %> |
<%= link_to 'Back', admin_property_areas_path %>
