<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @admin_property_traffic.property_id %>
</p>

<p>
  <strong>Route name1:</strong>
  <%= @admin_property_traffic.route_name1 %>
</p>

<p>
  <strong>Station name1:</strong>
  <%= @admin_property_traffic.station_name1 %>
</p>

<p>
  <strong>Station walkm1:</strong>
  <%= @admin_property_traffic.station_walkm1 %>
</p>

<p>
  <strong>Station walkd1:</strong>
  <%= @admin_property_traffic.station_walkd1 %>
</p>

<p>
  <strong>Station car1:</strong>
  <%= @admin_property_traffic.station_car1 %>
</p>

<p>
  <strong>Station bus1:</strong>
  <%= @admin_property_traffic.station_bus1 %>
</p>

<p>
  <strong>Busstop walkm1:</strong>
  <%= @admin_property_traffic.busstop_walkm1 %>
</p>

<p>
  <strong>Busstop walkd1:</strong>
  <%= @admin_property_traffic.busstop_walkd1 %>
</p>

<p>
  <strong>Busroute name1:</strong>
  <%= @admin_property_traffic.busroute_name1 %>
</p>

<p>
  <strong>Busstop name1:</strong>
  <%= @admin_property_traffic.busstop_name1 %>
</p>

<p>
  <strong>Route name2:</strong>
  <%= @admin_property_traffic.route_name2 %>
</p>

<p>
  <strong>Station name2:</strong>
  <%= @admin_property_traffic.station_name2 %>
</p>

<p>
  <strong>Station walkm2:</strong>
  <%= @admin_property_traffic.station_walkm2 %>
</p>

<p>
  <strong>Station walkd2:</strong>
  <%= @admin_property_traffic.station_walkd2 %>
</p>

<p>
  <strong>Station car2:</strong>
  <%= @admin_property_traffic.station_car2 %>
</p>

<p>
  <strong>Station bus2:</strong>
  <%= @admin_property_traffic.station_bus2 %>
</p>

<p>
  <strong>Busstop walkm2:</strong>
  <%= @admin_property_traffic.busstop_walkm2 %>
</p>

<p>
  <strong>Busstop walkd2:</strong>
  <%= @admin_property_traffic.busstop_walkd2 %>
</p>

<p>
  <strong>Busroute name2:</strong>
  <%= @admin_property_traffic.busroute_name2 %>
</p>

<p>
  <strong>Busstop name2:</strong>
  <%= @admin_property_traffic.busstop_name2 %>
</p>

<p>
  <strong>Route name3:</strong>
  <%= @admin_property_traffic.route_name3 %>
</p>

<p>
  <strong>Station name3:</strong>
  <%= @admin_property_traffic.station_name3 %>
</p>

<p>
  <strong>Station walkm3:</strong>
  <%= @admin_property_traffic.station_walkm3 %>
</p>

<p>
  <strong>Station walkd3:</strong>
  <%= @admin_property_traffic.station_walkd3 %>
</p>

<p>
  <strong>Station car3:</strong>
  <%= @admin_property_traffic.station_car3 %>
</p>

<p>
  <strong>Station bus3:</strong>
  <%= @admin_property_traffic.station_bus3 %>
</p>

<p>
  <strong>Busstop walkm3:</strong>
  <%= @admin_property_traffic.busstop_walkm3 %>
</p>

<p>
  <strong>Busstop walkd3:</strong>
  <%= @admin_property_traffic.busstop_walkd3 %>
</p>

<p>
  <strong>Busroute name3:</strong>
  <%= @admin_property_traffic.busroute_name3 %>
</p>

<p>
  <strong>Busstop name3:</strong>
  <%= @admin_property_traffic.busstop_name3 %>
</p>

<p>
  <strong>Other transportation:</strong>
  <%= @admin_property_traffic.other_transportation %>
</p>

<%= link_to 'Edit', edit_admin_property_traffic_path(@admin_property_traffic) %> |
<%= link_to 'Back', admin_property_traffics_path %>
