<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @admin_staff.company_id %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @admin_staff.picture %>
</p>

<p>
  <strong>Shooting date:</strong>
  <%= @admin_staff.shooting_date %>
</p>

<p>
  <strong>Certificate number:</strong>
  <%= @admin_staff.certificate_number %>
</p>

<p>
  <strong>Start certificate lifetime:</strong>
  <%= @admin_staff.start_certificate_lifetime %>
</p>

<p>
  <strong>End certificate lifetime:</strong>
  <%= @admin_staff.end_certificate_lifetime %>
</p>

<p>
  <strong>Real estate notary:</strong>
  <%= @admin_staff.real_estate_notary %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @admin_staff.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @admin_staff.first_name %>
</p>

<p>
  <strong>Furigana last name:</strong>
  <%= @admin_staff.furigana_last_name %>
</p>

<p>
  <strong>Furigana first name:</strong>
  <%= @admin_staff.furigana_first_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @admin_staff.gender %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @admin_staff.birth %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @admin_staff.home_phone %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @admin_staff.mobile_phone %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @admin_staff.postal_code %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @admin_staff.prefecture %>
</p>

<p>
  <strong>City:</strong>
  <%= @admin_staff.city %>
</p>

<p>
  <strong>Street:</strong>
  <%= @admin_staff.street %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin_staff.email %>
</p>

<%= link_to 'Edit', edit_admin_staff_path(@admin_staff) %> |
<%= link_to 'Back', admin_staffs_path %>
