<p id="notice"><%= notice %></p>

<h1>お客様情報</h1>

<div class="table-responsive">
<table class="table table-bordered">
  <thead style="background: #0082ad; color: #FFF;">
    <tr>
      <th scope="col">フリガナ</th>
      <th rowspan="3" scope="col">住所</th>
      <th scope="col">電話番号</th>
      <th rowspan="3" scope="col">照会<br>修正<br>削除</th>
    </tr>
    <tr>
      <th>氏名</th>
      <th>携帯番号</th>
    </tr>
    <tr>
      <th>性別 / 生年月日</th>
      <th>メールアドレス</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td scope="col"><%= customer.furigana_last_name %> <%= customer.furigana_first_name %></td>
        <td scope="col"><%= customer.postal_code %></td>
        <td scope="col"><%= customer.home_phone %></td>
        <td scope="col"><%= link_to '照会', customer %></td>
      </tr>
      <tr>
        <th><%= customer.last_name %> <%= customer.first_name %></th>
        <td><%= customer.prefecture %><%= customer.city %></td>
        <td><%= customer.mobile_phone %></td>
        <td><%= link_to '修正', edit_customer_path(customer) %></td>
      </tr>
      <tr>
        <td><%= customer.gender %> / <%= customer.birth.to_s(:ymd) %></td>
        <td><%= customer.street %></td>
        <td><%= customer.email %></td>
        <td><%= link_to '削除', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <tr><td colspan="4"></td></tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to '追加', new_customer_path %>
