<p id="notice"><%= notice %></p>

<h1>【照会】顧客情報</h1>

<div class="table-responsive">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th scope="row"><strong>姓:</strong></th>
        <td><%= @customer.last_name %></td>
        <th scope="row"><strong>名:</strong></th>
        <td><%= @customer.first_name %></td>
      </tr>
      <tr>
        <th scope="row"><strong>セイ:</strong></th>
        <td><%= @customer.furigana_last_name %></td>
        <th scope="row"><strong>メイ:</strong></th>
        <td><%= @customer.furigana_first_name %></td>
      </tr>
      <tr>
        <th scope="row"><strong>性別:</strong></th>
        <td><%= @customer.gender %></td>
        <th scope="row"><strong>生年月日:</strong></th>
        <td><%= @customer.birth %></td>
      </tr>
      <tr>
        <th scope="row"><strong>電話番号:</strong></th>
        <td><%= @customer.home_phone %></td>
        <th scope="row"><strong>携帯電話:</strong></th>
        <td><%= @customer.mobile_phone %></td>
      </tr>
      <tr>
        <th scope="row"><strong>郵便番号:</strong></th>
        <td><%= @customer.postal_code %></td>
        <th scope="row"><strong>都道府県:</strong></th>
        <td><%= @customer.prefecture %></td>
      </tr>
      <tr>
        <th scope="row"><strong>市区町村:</strong></th>
        <td><%= @customer.city %></td>
        <th scope="row"><strong>番地:</strong></th>
        <td><%= @customer.street %></td>
      </tr>
      <tr>
        <th scope="row"><strong>メールアドレス:</strong></th>
        <td><%= @customer.email %></td>
        <th scope="row">&nbsp;</th>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>

<%= link_to '修正', edit_customer_path(@customer) %> |
<%= link_to '戻る', customers_path %>