<%= form_with(model: admin_property_detail, local: true) do |form| %>
  <% if admin_property_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_property_detail.errors.count, "error") %> prohibited this admin_property_detail from being saved:</h2>

      <ul>
      <% admin_property_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.number_field :property_id, id: :admin_property_detail_property_id %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :admin_property_detail_price %>
  </div>

  <div class="field">
    <%= form.label :consumption_tax %>
    <%= form.number_field :consumption_tax, id: :admin_property_detail_consumption_tax %>
  </div>

  <div class="field">
    <%= form.label :situation %>
    <%= form.text_field :situation, id: :admin_property_detail_situation %>
  </div>

  <div class="field">
    <%= form.label :situation_date %>
    <%= form.date_select :situation_date, id: :admin_property_detail_situation_date %>
  </div>

  <div class="field">
    <%= form.label :transfer %>
    <%= form.text_field :transfer, id: :admin_property_detail_transfer %>
  </div>

  <div class="field">
    <%= form.label :transfer_date %>
    <%= form.text_field :transfer_date, id: :admin_property_detail_transfer_date %>
  </div>

  <div class="field">
    <%= form.label :move_date %>
    <%= form.date_select :move_date, id: :admin_property_detail_move_date %>
  </div>

  <div class="field">
    <%= form.label :remuneration %>
    <%= form.text_field :remuneration, id: :admin_property_detail_remuneration %>
  </div>

  <div class="field">
    <%= form.label :fee_part %>
    <%= form.number_field :fee_part, id: :admin_property_detail_fee_part %>
  </div>

  <div class="field">
    <%= form.label :fee_amount %>
    <%= form.number_field :fee_amount, id: :admin_property_detail_fee_amount %>
  </div>

  <div class="field">
    <%= form.label :town_plan %>
    <%= form.text_field :town_plan, id: :admin_property_detail_town_plan %>
  </div>

  <div class="field">
    <%= form.label :register_landcategory %>
    <%= form.text_field :register_landcategory, id: :admin_property_detail_register_landcategory %>
  </div>

  <div class="field">
    <%= form.label :situation_landcategory %>
    <%= form.text_field :situation_landcategory, id: :admin_property_detail_situation_landcategory %>
  </div>

  <div class="field">
    <%= form.label :zoning1 %>
    <%= form.text_field :zoning1, id: :admin_property_detail_zoning1 %>
  </div>

  <div class="field">
    <%= form.label :zoning2 %>
    <%= form.text_field :zoning2, id: :admin_property_detail_zoning2 %>
  </div>

  <div class="field">
    <%= form.label :optimum %>
    <%= form.text_field :optimum, id: :admin_property_detail_optimum %>
  </div>

  <div class="field">
    <%= form.label :_site %>
    <%= form.text_field :_site, id: :admin_property_detail__site %>
  </div>

  <div class="field">
    <%= form.label :zoning_district %>
    <%= form.text_field :zoning_district, id: :admin_property_detail_zoning_district %>
  </div>

  <div class="field">
    <%= form.label :buildingcoverage_ratio %>
    <%= form.number_field :buildingcoverage_ratio, id: :admin_property_detail_buildingcoverage_ratio %>
  </div>

  <div class="field">
    <%= form.label :floorarea_ratio %>
    <%= form.number_field :floorarea_ratio, id: :admin_property_detail_floorarea_ratio %>
  </div>

  <div class="field">
    <%= form.label :floorarea_restriction %>
    <%= form.text_field :floorarea_restriction, id: :admin_property_detail_floorarea_restriction %>
  </div>

  <div class="field">
    <%= form.label :law_restriction %>
    <%= form.text_area :law_restriction, id: :admin_property_detail_law_restriction %>
  </div>

  <div class="field">
    <%= form.label :rebuilding %>
    <%= form.check_box :rebuilding, id: :admin_property_detail_rebuilding %>
  </div>

  <div class="field">
    <%= form.label :nationalland_law %>
    <%= form.text_field :nationalland_law, id: :admin_property_detail_nationalland_law %>
  </div>

  <div class="field">
    <%= form.label :buildingcertification %>
    <%= form.text_field :buildingcertification, id: :admin_property_detail_buildingcertification %>
  </div>

  <div class="field">
    <%= form.label :buildingcertification_number %>
    <%= form.text_field :buildingcertification_number, id: :admin_property_detail_buildingcertification_number %>
  </div>

  <div class="field">
    <%= form.label :land_title %>
    <%= form.text_field :land_title, id: :admin_property_detail_land_title %>
  </div>

  <div class="field">
    <%= form.label :terrain %>
    <%= form.text_field :terrain, id: :admin_property_detail_terrain %>
  </div>

  <div class="field">
    <%= form.label :architectural_condition %>
    <%= form.text_field :architectural_condition, id: :admin_property_detail_architectural_condition %>
  </div>

  <div class="field">
    <%= form.label :connecting_road %>
    <%= form.text_field :connecting_road, id: :admin_property_detail_connecting_road %>
  </div>

  <div class="field">
    <%= form.label :paved_road %>
    <%= form.text_field :paved_road, id: :admin_property_detail_paved_road %>
  </div>

  <div class="field">
    <%= form.label :road_class1 %>
    <%= form.text_field :road_class1, id: :admin_property_detail_road_class1 %>
  </div>

  <div class="field">
    <%= form.label :contact_distance1 %>
    <%= form.number_field :contact_distance1, id: :admin_property_detail_contact_distance1 %>
  </div>

  <div class="field">
    <%= form.label :designation_road1 %>
    <%= form.text_field :designation_road1, id: :admin_property_detail_designation_road1 %>
  </div>

  <div class="field">
    <%= form.label :road_direction1 %>
    <%= form.text_field :road_direction1, id: :admin_property_detail_road_direction1 %>
  </div>

  <div class="field">
    <%= form.label :road_width1 %>
    <%= form.number_field :road_width1, id: :admin_property_detail_road_width1 %>
  </div>

  <div class="field">
    <%= form.label :road_class2 %>
    <%= form.text_field :road_class2, id: :admin_property_detail_road_class2 %>
  </div>

  <div class="field">
    <%= form.label :contact_distance2 %>
    <%= form.number_field :contact_distance2, id: :admin_property_detail_contact_distance2 %>
  </div>

  <div class="field">
    <%= form.label :designation_road2 %>
    <%= form.text_field :designation_road2, id: :admin_property_detail_designation_road2 %>
  </div>

  <div class="field">
    <%= form.label :road_direction2 %>
    <%= form.text_field :road_direction2, id: :admin_property_detail_road_direction2 %>
  </div>

  <div class="field">
    <%= form.label :road_width2 %>
    <%= form.number_field :road_width2, id: :admin_property_detail_road_width2 %>
  </div>

  <div class="field">
    <%= form.label :road_class3 %>
    <%= form.text_field :road_class3, id: :admin_property_detail_road_class3 %>
  </div>

  <div class="field">
    <%= form.label :contact_distance3 %>
    <%= form.number_field :contact_distance3, id: :admin_property_detail_contact_distance3 %>
  </div>

  <div class="field">
    <%= form.label :designation_road3 %>
    <%= form.text_field :designation_road3, id: :admin_property_detail_designation_road3 %>
  </div>

  <div class="field">
    <%= form.label :road_direction3 %>
    <%= form.text_field :road_direction3, id: :admin_property_detail_road_direction3 %>
  </div>

  <div class="field">
    <%= form.label :road_width3 %>
    <%= form.number_field :road_width3, id: :admin_property_detail_road_width3 %>
  </div>

  <div class="field">
    <%= form.label :road_class4 %>
    <%= form.text_field :road_class4, id: :admin_property_detail_road_class4 %>
  </div>

  <div class="field">
    <%= form.label :contact_distance4 %>
    <%= form.number_field :contact_distance4, id: :admin_property_detail_contact_distance4 %>
  </div>

  <div class="field">
    <%= form.label :designation_road4 %>
    <%= form.text_field :designation_road4, id: :admin_property_detail_designation_road4 %>
  </div>

  <div class="field">
    <%= form.label :road_direction4 %>
    <%= form.text_field :road_direction4, id: :admin_property_detail_road_direction4 %>
  </div>

  <div class="field">
    <%= form.label :road_width4 %>
    <%= form.number_field :road_width4, id: :admin_property_detail_road_width4 %>
  </div>

  <div class="field">
    <%= form.label :homeowner_association %>
    <%= form.text_field :homeowner_association, id: :admin_property_detail_homeowner_association %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
