<p id="notice"><%= notice %></p>

<h1>Admin Property Details</h1>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Price</th>
      <th>Consumption tax</th>
      <th>Situation</th>
      <th>Situation date</th>
      <th>Transfer</th>
      <th>Transfer date</th>
      <th>Move date</th>
      <th>Remuneration</th>
      <th>Fee part</th>
      <th>Fee amount</th>
      <th>Town plan</th>
      <th>Register landcategory</th>
      <th>Situation landcategory</th>
      <th>Zoning1</th>
      <th>Zoning2</th>
      <th>Optimum</th>
      <th>Site</th>
      <th>Zoning district</th>
      <th>Buildingcoverage ratio</th>
      <th>Floorarea ratio</th>
      <th>Floorarea restriction</th>
      <th>Law restriction</th>
      <th>Rebuilding</th>
      <th>Nationalland law</th>
      <th>Buildingcertification</th>
      <th>Buildingcertification number</th>
      <th>Land title</th>
      <th>Terrain</th>
      <th>Architectural condition</th>
      <th>Connecting road</th>
      <th>Paved road</th>
      <th>Road class1</th>
      <th>Contact distance1</th>
      <th>Designation road1</th>
      <th>Road direction1</th>
      <th>Road width1</th>
      <th>Road class2</th>
      <th>Contact distance2</th>
      <th>Designation road2</th>
      <th>Road direction2</th>
      <th>Road width2</th>
      <th>Road class3</th>
      <th>Contact distance3</th>
      <th>Designation road3</th>
      <th>Road direction3</th>
      <th>Road width3</th>
      <th>Road class4</th>
      <th>Contact distance4</th>
      <th>Designation road4</th>
      <th>Road direction4</th>
      <th>Road width4</th>
      <th>Homeowner association</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_property_details.each do |admin_property_detail| %>
      <tr>
        <td><%= admin_property_detail.property_id %></td>
        <td><%= admin_property_detail.price %></td>
        <td><%= admin_property_detail.consumption_tax %></td>
        <td><%= admin_property_detail.situation %></td>
        <td><%= admin_property_detail.situation_date %></td>
        <td><%= admin_property_detail.transfer %></td>
        <td><%= admin_property_detail.transfer_date %></td>
        <td><%= admin_property_detail.move_date %></td>
        <td><%= admin_property_detail.remuneration %></td>
        <td><%= admin_property_detail.fee_part %></td>
        <td><%= admin_property_detail.fee_amount %></td>
        <td><%= admin_property_detail.town_plan %></td>
        <td><%= admin_property_detail.register_landcategory %></td>
        <td><%= admin_property_detail.situation_landcategory %></td>
        <td><%= admin_property_detail.zoning1 %></td>
        <td><%= admin_property_detail.zoning2 %></td>
        <td><%= admin_property_detail.optimum %></td>
        <td><%= admin_property_detail._site %></td>
        <td><%= admin_property_detail.zoning_district %></td>
        <td><%= admin_property_detail.buildingcoverage_ratio %></td>
        <td><%= admin_property_detail.floorarea_ratio %></td>
        <td><%= admin_property_detail.floorarea_restriction %></td>
        <td><%= admin_property_detail.law_restriction %></td>
        <td><%= admin_property_detail.rebuilding %></td>
        <td><%= admin_property_detail.nationalland_law %></td>
        <td><%= admin_property_detail.buildingcertification %></td>
        <td><%= admin_property_detail.buildingcertification_number %></td>
        <td><%= admin_property_detail.land_title %></td>
        <td><%= admin_property_detail.terrain %></td>
        <td><%= admin_property_detail.architectural_condition %></td>
        <td><%= admin_property_detail.connecting_road %></td>
        <td><%= admin_property_detail.paved_road %></td>
        <td><%= admin_property_detail.road_class1 %></td>
        <td><%= admin_property_detail.contact_distance1 %></td>
        <td><%= admin_property_detail.designation_road1 %></td>
        <td><%= admin_property_detail.road_direction1 %></td>
        <td><%= admin_property_detail.road_width1 %></td>
        <td><%= admin_property_detail.road_class2 %></td>
        <td><%= admin_property_detail.contact_distance2 %></td>
        <td><%= admin_property_detail.designation_road2 %></td>
        <td><%= admin_property_detail.road_direction2 %></td>
        <td><%= admin_property_detail.road_width2 %></td>
        <td><%= admin_property_detail.road_class3 %></td>
        <td><%= admin_property_detail.contact_distance3 %></td>
        <td><%= admin_property_detail.designation_road3 %></td>
        <td><%= admin_property_detail.road_direction3 %></td>
        <td><%= admin_property_detail.road_width3 %></td>
        <td><%= admin_property_detail.road_class4 %></td>
        <td><%= admin_property_detail.contact_distance4 %></td>
        <td><%= admin_property_detail.designation_road4 %></td>
        <td><%= admin_property_detail.road_direction4 %></td>
        <td><%= admin_property_detail.road_width4 %></td>
        <td><%= admin_property_detail.homeowner_association %></td>
        <td><%= link_to 'Show', admin_property_detail %></td>
        <td><%= link_to 'Edit', edit_admin_property_detail_path(admin_property_detail) %></td>
        <td><%= link_to 'Destroy', admin_property_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Property Detail', new_admin_property_detail_path %>
