<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @admin_property_detail.property_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @admin_property_detail.price %>
</p>

<p>
  <strong>Consumption tax:</strong>
  <%= @admin_property_detail.consumption_tax %>
</p>

<p>
  <strong>Situation:</strong>
  <%= @admin_property_detail.situation %>
</p>

<p>
  <strong>Situation date:</strong>
  <%= @admin_property_detail.situation_date %>
</p>

<p>
  <strong>Transfer:</strong>
  <%= @admin_property_detail.transfer %>
</p>

<p>
  <strong>Transfer date:</strong>
  <%= @admin_property_detail.transfer_date %>
</p>

<p>
  <strong>Move date:</strong>
  <%= @admin_property_detail.move_date %>
</p>

<p>
  <strong>Remuneration:</strong>
  <%= @admin_property_detail.remuneration %>
</p>

<p>
  <strong>Fee part:</strong>
  <%= @admin_property_detail.fee_part %>
</p>

<p>
  <strong>Fee amount:</strong>
  <%= @admin_property_detail.fee_amount %>
</p>

<p>
  <strong>Town plan:</strong>
  <%= @admin_property_detail.town_plan %>
</p>

<p>
  <strong>Register landcategory:</strong>
  <%= @admin_property_detail.register_landcategory %>
</p>

<p>
  <strong>Situation landcategory:</strong>
  <%= @admin_property_detail.situation_landcategory %>
</p>

<p>
  <strong>Zoning1:</strong>
  <%= @admin_property_detail.zoning1 %>
</p>

<p>
  <strong>Zoning2:</strong>
  <%= @admin_property_detail.zoning2 %>
</p>

<p>
  <strong>Optimum:</strong>
  <%= @admin_property_detail.optimum %>
</p>

<p>
  <strong>Site:</strong>
  <%= @admin_property_detail._site %>
</p>

<p>
  <strong>Zoning district:</strong>
  <%= @admin_property_detail.zoning_district %>
</p>

<p>
  <strong>Buildingcoverage ratio:</strong>
  <%= @admin_property_detail.buildingcoverage_ratio %>
</p>

<p>
  <strong>Floorarea ratio:</strong>
  <%= @admin_property_detail.floorarea_ratio %>
</p>

<p>
  <strong>Floorarea restriction:</strong>
  <%= @admin_property_detail.floorarea_restriction %>
</p>

<p>
  <strong>Law restriction:</strong>
  <%= @admin_property_detail.law_restriction %>
</p>

<p>
  <strong>Rebuilding:</strong>
  <%= @admin_property_detail.rebuilding %>
</p>

<p>
  <strong>Nationalland law:</strong>
  <%= @admin_property_detail.nationalland_law %>
</p>

<p>
  <strong>Buildingcertification:</strong>
  <%= @admin_property_detail.buildingcertification %>
</p>

<p>
  <strong>Buildingcertification number:</strong>
  <%= @admin_property_detail.buildingcertification_number %>
</p>

<p>
  <strong>Land title:</strong>
  <%= @admin_property_detail.land_title %>
</p>

<p>
  <strong>Terrain:</strong>
  <%= @admin_property_detail.terrain %>
</p>

<p>
  <strong>Architectural condition:</strong>
  <%= @admin_property_detail.architectural_condition %>
</p>

<p>
  <strong>Connecting road:</strong>
  <%= @admin_property_detail.connecting_road %>
</p>

<p>
  <strong>Paved road:</strong>
  <%= @admin_property_detail.paved_road %>
</p>

<p>
  <strong>Road class1:</strong>
  <%= @admin_property_detail.road_class1 %>
</p>

<p>
  <strong>Contact distance1:</strong>
  <%= @admin_property_detail.contact_distance1 %>
</p>

<p>
  <strong>Designation road1:</strong>
  <%= @admin_property_detail.designation_road1 %>
</p>

<p>
  <strong>Road direction1:</strong>
  <%= @admin_property_detail.road_direction1 %>
</p>

<p>
  <strong>Road width1:</strong>
  <%= @admin_property_detail.road_width1 %>
</p>

<p>
  <strong>Road class2:</strong>
  <%= @admin_property_detail.road_class2 %>
</p>

<p>
  <strong>Contact distance2:</strong>
  <%= @admin_property_detail.contact_distance2 %>
</p>

<p>
  <strong>Designation road2:</strong>
  <%= @admin_property_detail.designation_road2 %>
</p>

<p>
  <strong>Road direction2:</strong>
  <%= @admin_property_detail.road_direction2 %>
</p>

<p>
  <strong>Road width2:</strong>
  <%= @admin_property_detail.road_width2 %>
</p>

<p>
  <strong>Road class3:</strong>
  <%= @admin_property_detail.road_class3 %>
</p>

<p>
  <strong>Contact distance3:</strong>
  <%= @admin_property_detail.contact_distance3 %>
</p>

<p>
  <strong>Designation road3:</strong>
  <%= @admin_property_detail.designation_road3 %>
</p>

<p>
  <strong>Road direction3:</strong>
  <%= @admin_property_detail.road_direction3 %>
</p>

<p>
  <strong>Road width3:</strong>
  <%= @admin_property_detail.road_width3 %>
</p>

<p>
  <strong>Road class4:</strong>
  <%= @admin_property_detail.road_class4 %>
</p>

<p>
  <strong>Contact distance4:</strong>
  <%= @admin_property_detail.contact_distance4 %>
</p>

<p>
  <strong>Designation road4:</strong>
  <%= @admin_property_detail.designation_road4 %>
</p>

<p>
  <strong>Road direction4:</strong>
  <%= @admin_property_detail.road_direction4 %>
</p>

<p>
  <strong>Road width4:</strong>
  <%= @admin_property_detail.road_width4 %>
</p>

<p>
  <strong>Homeowner association:</strong>
  <%= @admin_property_detail.homeowner_association %>
</p>

<%= link_to 'Edit', edit_admin_property_detail_path(@admin_property_detail) %> |
<%= link_to 'Back', admin_property_details_path %>
