<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th scope="row"><strong><%= form.label :会社名 %></strong></th>
          <td><%= form.text_field :name, id: :company_name, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :宅建業免許番号 %></strong></th>
          <td><%= form.text_area :license_number, id: :company_license_number, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :代表電話番号 %></strong></th>
          <td><%= form.text_field :main_phone, id: :company_main_phone, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :営業開始時間 %></strong></th>
          <td><%= form.time_field :open_time, id: :company_open_time, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :問い合わせ電話 %></strong></th>
          <td><%= form.text_field :inquiry_phone, id: :company_inquiry_phone, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :営業終了時間 %></strong></th>
          <td><%= form.time_field :end_time, id: :company_end_time, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :所在地 %></strong></th>
          <td><%= form.number_field :postal_code, id: :postal_code, :class => 'form-control' %><%= form.text_field :prefecture, id: :prefecture, :class => 'form-control' %><%= form.text_field :city, id: :city, :class => 'form-control' %><%= form.text_area :street, id: :street, :class => 'form-control' %></td>
          <th scope="row"><strong><%= form.label :定休日 %></strong></th>
          <td><%= form.text_area :regular_holiday, id: :company_regular_holiday, :class => 'form-control' %></td>
        </tr>
        <tr>
          <th scope="row"><strong><%= form.label :メールアドレス %></strong></th>
          <td><%= form.text_area :email, id: :company_email, :class => 'form-control' %></td>
          <th scope="row">&nbsp;</th>
          <td>&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="actions">
    <%= form.submit :更新, :class => 'btn btn-primary' %>
  </div>
<% end %>
