<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Main phone:</strong>
  <%= @company.main_phone %>
</p>

<p>
  <strong>Inquiry phone:</strong>
  <%= @company.inquiry_phone %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @company.postal_code %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @company.prefecture %>
</p>

<p>
  <strong>City:</strong>
  <%= @company.city %>
</p>

<p>
  <strong>Street:</strong>
  <%= @company.street %>
</p>

<p>
  <strong>Email:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>License number:</strong>
  <%= @company.license_number %>
</p>

<p>
  <strong>Open time:</strong>
  <%= @company.open_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @company.end_time %>
</p>

<p>
  <strong>Regular holiday:</strong>
  <%= @company.regular_holiday %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>

</div>