<%= form_with(model: admin_property_layout, local: true) do |form| %>
  <% if admin_property_layout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_property_layout.errors.count, "error") %> prohibited this admin_property_layout from being saved:</h2>

      <ul>
      <% admin_property_layout.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :property_id %>
    <%= form.number_field :property_id, id: :admin_property_layout_property_id %>
  </div>

  <div class="field">
    <%= form.label :floor_plan %>
    <%= form.text_field :floor_plan, id: :admin_property_layout_floor_plan %>
  </div>

  <div class="field">
    <%= form.label :room %>
    <%= form.number_field :room, id: :admin_property_layout_room %>
  </div>

  <div class="field">
    <%= form.label :corner_room %>
    <%= form.check_box :corner_room, id: :admin_property_layout_corner_room %>
  </div>

  <div class="field">
    <%= form.label :room_level1 %>
    <%= form.number_field :room_level1, id: :admin_property_layout_room_level1 %>
  </div>

  <div class="field">
    <%= form.label :room_type1 %>
    <%= form.text_field :room_type1, id: :admin_property_layout_room_type1 %>
  </div>

  <div class="field">
    <%= form.label :room_size1 %>
    <%= form.number_field :room_size1, id: :admin_property_layout_room_size1 %>
  </div>

  <div class="field">
    <%= form.label :room_level2 %>
    <%= form.number_field :room_level2, id: :admin_property_layout_room_level2 %>
  </div>

  <div class="field">
    <%= form.label :room_type2 %>
    <%= form.text_field :room_type2, id: :admin_property_layout_room_type2 %>
  </div>

  <div class="field">
    <%= form.label :room_size2 %>
    <%= form.number_field :room_size2, id: :admin_property_layout_room_size2 %>
  </div>

  <div class="field">
    <%= form.label :room_level3 %>
    <%= form.number_field :room_level3, id: :admin_property_layout_room_level3 %>
  </div>

  <div class="field">
    <%= form.label :room_type3 %>
    <%= form.text_field :room_type3, id: :admin_property_layout_room_type3 %>
  </div>

  <div class="field">
    <%= form.label :room_size3 %>
    <%= form.number_field :room_size3, id: :admin_property_layout_room_size3 %>
  </div>

  <div class="field">
    <%= form.label :room_level4 %>
    <%= form.number_field :room_level4, id: :admin_property_layout_room_level4 %>
  </div>

  <div class="field">
    <%= form.label :room_type4 %>
    <%= form.text_field :room_type4, id: :admin_property_layout_room_type4 %>
  </div>

  <div class="field">
    <%= form.label :room_size4 %>
    <%= form.number_field :room_size4, id: :admin_property_layout_room_size4 %>
  </div>

  <div class="field">
    <%= form.label :room_level5 %>
    <%= form.number_field :room_level5, id: :admin_property_layout_room_level5 %>
  </div>

  <div class="field">
    <%= form.label :room_type5 %>
    <%= form.text_field :room_type5, id: :admin_property_layout_room_type5 %>
  </div>

  <div class="field">
    <%= form.label :room_size5 %>
    <%= form.number_field :room_size5, id: :admin_property_layout_room_size5 %>
  </div>

  <div class="field">
    <%= form.label :room_level6 %>
    <%= form.number_field :room_level6, id: :admin_property_layout_room_level6 %>
  </div>

  <div class="field">
    <%= form.label :room_type6 %>
    <%= form.text_field :room_type6, id: :admin_property_layout_room_type6 %>
  </div>

  <div class="field">
    <%= form.label :room_size6 %>
    <%= form.number_field :room_size6, id: :admin_property_layout_room_size6 %>
  </div>

  <div class="field">
    <%= form.label :room_level7 %>
    <%= form.number_field :room_level7, id: :admin_property_layout_room_level7 %>
  </div>

  <div class="field">
    <%= form.label :room_type7 %>
    <%= form.text_field :room_type7, id: :admin_property_layout_room_type7 %>
  </div>

  <div class="field">
    <%= form.label :room_size7 %>
    <%= form.number_field :room_size7, id: :admin_property_layout_room_size7 %>
  </div>

  <div class="field">
    <%= form.label :room_leve8 %>
    <%= form.number_field :room_leve8, id: :admin_property_layout_room_leve8 %>
  </div>

  <div class="field">
    <%= form.label :room_type8 %>
    <%= form.text_field :room_type8, id: :admin_property_layout_room_type8 %>
  </div>

  <div class="field">
    <%= form.label :room_size8 %>
    <%= form.number_field :room_size8, id: :admin_property_layout_room_size8 %>
  </div>

  <div class="field">
    <%= form.label :room_level9 %>
    <%= form.number_field :room_level9, id: :admin_property_layout_room_level9 %>
  </div>

  <div class="field">
    <%= form.label :room_type9 %>
    <%= form.text_field :room_type9, id: :admin_property_layout_room_type9 %>
  </div>

  <div class="field">
    <%= form.label :room_size9 %>
    <%= form.number_field :room_size9, id: :admin_property_layout_room_size9 %>
  </div>

  <div class="field">
    <%= form.label :other_room %>
    <%= form.text_area :other_room, id: :admin_property_layout_other_room %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
