<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @admin_property_layout.property_id %>
</p>

<p>
  <strong>Floor plan:</strong>
  <%= @admin_property_layout.floor_plan %>
</p>

<p>
  <strong>Room:</strong>
  <%= @admin_property_layout.room %>
</p>

<p>
  <strong>Corner room:</strong>
  <%= @admin_property_layout.corner_room %>
</p>

<p>
  <strong>Room level1:</strong>
  <%= @admin_property_layout.room_level1 %>
</p>

<p>
  <strong>Room type1:</strong>
  <%= @admin_property_layout.room_type1 %>
</p>

<p>
  <strong>Room size1:</strong>
  <%= @admin_property_layout.room_size1 %>
</p>

<p>
  <strong>Room level2:</strong>
  <%= @admin_property_layout.room_level2 %>
</p>

<p>
  <strong>Room type2:</strong>
  <%= @admin_property_layout.room_type2 %>
</p>

<p>
  <strong>Room size2:</strong>
  <%= @admin_property_layout.room_size2 %>
</p>

<p>
  <strong>Room level3:</strong>
  <%= @admin_property_layout.room_level3 %>
</p>

<p>
  <strong>Room type3:</strong>
  <%= @admin_property_layout.room_type3 %>
</p>

<p>
  <strong>Room size3:</strong>
  <%= @admin_property_layout.room_size3 %>
</p>

<p>
  <strong>Room level4:</strong>
  <%= @admin_property_layout.room_level4 %>
</p>

<p>
  <strong>Room type4:</strong>
  <%= @admin_property_layout.room_type4 %>
</p>

<p>
  <strong>Room size4:</strong>
  <%= @admin_property_layout.room_size4 %>
</p>

<p>
  <strong>Room level5:</strong>
  <%= @admin_property_layout.room_level5 %>
</p>

<p>
  <strong>Room type5:</strong>
  <%= @admin_property_layout.room_type5 %>
</p>

<p>
  <strong>Room size5:</strong>
  <%= @admin_property_layout.room_size5 %>
</p>

<p>
  <strong>Room level6:</strong>
  <%= @admin_property_layout.room_level6 %>
</p>

<p>
  <strong>Room type6:</strong>
  <%= @admin_property_layout.room_type6 %>
</p>

<p>
  <strong>Room size6:</strong>
  <%= @admin_property_layout.room_size6 %>
</p>

<p>
  <strong>Room level7:</strong>
  <%= @admin_property_layout.room_level7 %>
</p>

<p>
  <strong>Room type7:</strong>
  <%= @admin_property_layout.room_type7 %>
</p>

<p>
  <strong>Room size7:</strong>
  <%= @admin_property_layout.room_size7 %>
</p>

<p>
  <strong>Room leve8:</strong>
  <%= @admin_property_layout.room_leve8 %>
</p>

<p>
  <strong>Room type8:</strong>
  <%= @admin_property_layout.room_type8 %>
</p>

<p>
  <strong>Room size8:</strong>
  <%= @admin_property_layout.room_size8 %>
</p>

<p>
  <strong>Room level9:</strong>
  <%= @admin_property_layout.room_level9 %>
</p>

<p>
  <strong>Room type9:</strong>
  <%= @admin_property_layout.room_type9 %>
</p>

<p>
  <strong>Room size9:</strong>
  <%= @admin_property_layout.room_size9 %>
</p>

<p>
  <strong>Other room:</strong>
  <%= @admin_property_layout.other_room %>
</p>

<%= link_to 'Edit', edit_admin_property_layout_path(@admin_property_layout) %> |
<%= link_to 'Back', admin_property_layouts_path %>
