<%= form_with(model: select, local: true) do |form| %>
  <% if select.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(select.errors.count, "error") %> prohibited this select from being saved:</h2>

      <ul>
      <% select.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-inline">
    <%= form.label :項目 %>
    <%= form.text_field :content_id, id: :select_content_id, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :No %>
    <%= form.number_field :select_id, id: :select_select_id, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :項目名 %>
    <%= form.text_area :return_text, id: :select_return_text, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit :更新, :class => 'btn btn-primary' %>
  </div>
<% end %>
