<%= form_with(model: admin_property, local: true) do |form| %>
  <% if admin_property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_property.errors.count, "error") %> prohibited this admin_property from being saved:</h2>

      <ul>
      <% admin_property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-inline">
    <%= form.label :物件種別 %>
    <%= form.text_field :property_type1, id: :admin_property_property_type1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :物件種目 %>
    <%= form.text_field :property_type2, id: :admin_property_property_type2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :取引態様 %>    
    <%= form.text_field :transaction_type, id: :admin_property_transaction_type, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :媒介契約年月日 %>
    <%= form.date_field :mediation_date, id: :admin_property_mediation_date, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :取引状況 %>
    <%= form.number_field :condition, id: :admin_property_condition, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :取引状況の説明 %>
    <%= form.text_area :supplementary_explanation, id: :admin_property_supplementary_explanation, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :郵便番号 %>
    <%= form.number_field :postal_code, id: :postal_code, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :都道府県 %>
    <%= form.text_field :prefecture, id: :prefecture, :class => 'form-control' %>

    <%= form.label :市区町村 %>
    <%= form.text_field :city, id: :city, :class => 'form-control' %>

    <%= form.label :番地 %>
    <%= form.text_area :street, id: :street, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :番地表示 %>
    <%= form.check_box :show_street, id: :admin_property_show_street, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :番地表示 %>
    <%= form.text_area :apartment_name, id: :admin_property_apartment_name, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋番号 %>
    <%= form.text_field :roomnumber, id: :admin_property_roomnumber, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :棟番号 %>
    <%= form.text_field :buildingnumber, id: :admin_property_buildingnumber, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋番号表示 %>
    <%= form.check_box :show_roomnumber, id: :admin_property_show_roomnumber, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :面積計測方式 %>
    <%= form.text_field :measurement, id: :admin_property_measurement, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :土地面積（平米） %>
    <%= form.number_field :land_area, id: :admin_property_land_area, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :専有面積（平米） %>
    <%= form.number_field :occupied_area, id: :admin_property_occupied_area, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :建物面積1（平米） %>
    <%= form.number_field :building_area1, id: :admin_property_building_area1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :建物面積2（平米） %>
    <%= form.number_field :building_area2, id: :admin_property_building_area2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :バルコニー面積（平米） %>
    <%= form.number_field :balcony_area, id: :admin_property_balcony_area, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :テラス面積（平米） %>
    <%= form.number_field :terrace_area, id: :admin_property_terrace_area, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :専用庭面積（平米） %>
    <%= form.number_field :privategarden_area, id: :admin_property_privategarden_area, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :私道負担 %>
    <%= form.text_field :driveway_burden, id: :admin_property_driveway_burden, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :私道面積（平米） %>
    <%= form.number_field :driveway_area, id: :admin_property_driveway_area, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :私道負担割合（／） %>
    <%= form.text_field :driveway_part1, id: :admin_property_driveway_part1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :私道負担割合（平米／平米） %>
    <%= form.text_field :driveway_part2, id: :admin_property_driveway_part2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :セットバック %>
    <%= form.text_field :setback_class, id: :admin_property_setback_class, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :後退距離（ｍ） %>
    <%= form.number_field :setback_distance, id: :admin_property_setback_distance, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :セットバック面積（平米） %>
    <%= form.number_field :setback_area, id: :admin_property_setback_area, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :敷地延長 %>
    <%= form.text_field :alleyground_class, id: :admin_property_alleyground_class, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :敷地延長（平米） %>
    <%= form.number_field :alleyground_area, id: :admin_property_alleyground_area, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :建物面積（１Ｆ（平米）） %>
    <%= form.number_field :firstfloor_area, id: :admin_property_firstfloor_area, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :建物面積（２Ｆ（平米）） %>
    <%= form.number_field :secondfloor_area, id: :admin_property_secondfloor_area, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :建物面積（３Ｆ（平米）） %>
    <%= form.number_field :thirdfloor_area, id: :admin_property_thirdfloor_area, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :建物面積（その他（平米）） %>
    <%= form.text_area :otherfloor_area, id: :admin_property_otherfloor_area, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :開発面積／総面積１（平米） %>
    <%= form.text_field :development_area1, id: :admin_property_development_area1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :販売総面積（平米） %>
    <%= form.number_field :total_area, id: :admin_property_total_area, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :販売区画数 %>
    <%= form.number_field :subdivision, id: :admin_property_subdivision, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :工事完了年月 %>
    <%= form.date_field :construction_date, id: :admin_property_construction_date, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :土地共有持分面積（平米） %>
    <%= form.number_field :coownership_area, id: :admin_property_coownership_area, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :土地共有持分（／） %>
    <%= form.text_field :coownership, id: :admin_property_coownership, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :開発面積／総面積２（平米） %>
    <%= form.text_field :development_area2, id: :admin_property_development_area2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :建築面積（平米） %>
    <%= form.number_field :building_area3, id: :admin_property_building_area3, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :延べ面積（平米） %>
    <%= form.number_field :totalfloor_area, id: :admin_property_totalfloor_area, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :沿線名１ %>
    <%= form.text_field :route_name1, id: :admin_property_route_name1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :駅名１ %>
    <%= form.text_area :station_name1, id: :admin_property_station_name1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :駅より徒歩１（ｍ） %>
    <%= form.number_field :station_walkm1, id: :admin_property_station_walkm1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :駅より徒歩１（分） %>
    <%= form.number_field :station_walkd1, id: :admin_property_station_walkd1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :駅より車１（ｋｍ） %>
    <%= form.number_field :station_car1, id: :admin_property_station_car1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :駅よりバス１（分） %>
    <%= form.number_field :station_bus1, id: :admin_property_station_bus1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :バス停より徒歩１（ｍ） %>
    <%= form.number_field :busstop_walkm1, id: :admin_property_busstop_walkm1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :バス停より徒歩１（分） %>
    <%= form.number_field :busstop_walkd1, id: :admin_property_busstop_walkd1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :バス路線名１ %>
    <%= form.text_area :busroute_name1, id: :admin_property_busroute_name1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :バス停名称１ %>
    <%= form.text_area :busstop_name1, id: :admin_property_busstop_name1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :沿線名２ %>
    <%= form.text_field :route_name2, id: :admin_property_route_name2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :駅名２ %>
    <%= form.text_area :station_name2, id: :admin_property_station_name2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :駅より徒歩２（ｍ） %>
    <%= form.number_field :station_walkm2, id: :admin_property_station_walkm2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :駅より徒歩２（分） %>
    <%= form.number_field :station_walkd2, id: :admin_property_station_walkd2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :駅より車２（ｋｍ） %>
    <%= form.number_field :station_car2, id: :admin_property_station_car2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :駅よりバス２（分） %>
    <%= form.number_field :station_bus2, id: :admin_property_station_bus2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :バス停より徒歩２（ｍ） %>
    <%= form.number_field :busstop_walkm2, id: :admin_property_busstop_walkm2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :バス停より徒歩２（分） %>
    <%= form.number_field :busstop_walkd2, id: :admin_property_busstop_walkd2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :バス路線名２ %>
    <%= form.text_area :busroute_name2, id: :admin_property_busroute_name2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :バス停名称２ %>
    <%= form.text_area :busstop_name2, id: :admin_property_busstop_name2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :沿線名３ %>
    <%= form.text_field :route_name3, id: :admin_property_route_name3, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :駅名３ %>
    <%= form.text_area :station_name3, id: :admin_property_station_name3, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :駅より徒歩３（ｍ） %>
    <%= form.number_field :station_walkm3, id: :admin_property_station_walkm3, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :駅より徒歩３（分） %>
    <%= form.number_field :station_walkd3, id: :admin_property_station_walkd3, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :駅より車３（ｋｍ） %>
    <%= form.number_field :station_car3, id: :admin_property_station_car3, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :駅よりバス３（分） %>
    <%= form.number_field :station_bus3, id: :admin_property_station_bus3, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :バス停より徒歩３（ｍ） %>
    <%= form.number_field :busstop_walkm3, id: :admin_property_busstop_walkm3, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :バス停より徒歩３（分） %>
    <%= form.number_field :busstop_walkd3, id: :admin_property_busstop_walkd3, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :バス路線名３ %>
    <%= form.text_area :busroute_name3, id: :admin_property_busroute_name3, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :バス停名称３ %>
    <%= form.text_area :busstop_name3, id: :admin_property_busstop_name3, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :その他交通手段 %>
    <%= form.text_area :other_transportation, id: :admin_property_other_transportation, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :間取タイプ %>
    <%= form.text_field :floor_plan, id: :admin_property_floor_plan, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :間取部屋数 %>
    <%= form.number_field :room, id: :admin_property_room, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :角部屋 %>
    <%= form.check_box :corner_room, id: :admin_property_corner_room, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋所在階１（階） %>
    <%= form.number_field :room_level1, id: :admin_property_room_level1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋タイプ１ %>
    <%= form.text_field :room_type1, id: :admin_property_room_type1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋広さ１（畳） %>
    <%= form.number_field :room_size1, id: :admin_property_room_size1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋所在階２（階） %>
    <%= form.number_field :room_level2, id: :admin_property_room_level2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋タイプ２ %>
    <%= form.text_field :room_type2, id: :admin_property_room_type2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋広さ２（畳） %>
    <%= form.number_field :room_size2, id: :admin_property_room_size2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋所在階３（階） %>
    <%= form.number_field :room_level3, id: :admin_property_room_level3, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋タイプ３ %>
    <%= form.text_field :room_type3, id: :admin_property_room_type3, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋広さ３（畳） %>
    <%= form.number_field :room_size3, id: :admin_property_room_size3, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋所在階４（階） %>
    <%= form.number_field :room_level4, id: :admin_property_room_level4, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋タイプ４ %>
    <%= form.text_field :room_type4, id: :admin_property_room_type4, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋広さ４（畳） %>
    <%= form.number_field :room_size4, id: :admin_property_room_size4, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋所在階５（階） %>
    <%= form.number_field :room_level5, id: :admin_property_room_level5, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋タイプ５ %>
    <%= form.text_field :room_type5, id: :admin_property_room_type5, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋広さ５（畳） %>
    <%= form.number_field :room_size5, id: :admin_property_room_size5, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋所在階６（階） %>
    <%= form.number_field :room_level6, id: :admin_property_room_level6, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋タイプ６ %>
    <%= form.text_field :room_type6, id: :admin_property_room_type6, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋広さ６（畳） %>
    <%= form.number_field :room_size6, id: :admin_property_room_size6, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋所在階７（階） %>
    <%= form.number_field :room_level7, id: :admin_property_room_level7, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋タイプ７ %>
    <%= form.text_field :room_type7, id: :admin_property_room_type7, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋広さ７（畳） %>
    <%= form.number_field :room_size7, id: :admin_property_room_size7, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋所在階８（階） %>
    <%= form.number_field :room_leve8, id: :admin_property_room_leve8, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋タイプ８ %>
    <%= form.text_field :room_type8, id: :admin_property_room_type8, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋広さ８（畳） %>
    <%= form.number_field :room_size8, id: :admin_property_room_size8, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋所在階９（階） %>
    <%= form.number_field :room_level9, id: :admin_property_room_level9, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋タイプ９ %>
    <%= form.text_field :room_type9, id: :admin_property_room_type9, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :部屋広さ９（畳） %>
    <%= form.number_field :room_size9, id: :admin_property_room_size9, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :その他部屋情報 %>
    <%= form.text_area :other_room, id: :admin_property_other_room, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :価格 %>
    <%= form.number_field :price, id: :admin_property_price, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :内消費税 %>
    <%= form.number_field :consumption_tax, id: :admin_property_consumption_tax, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :現況 %>
    <%= form.text_field :situation, id: :admin_property_situation, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :現況年月日 %>
    <%= form.date_field :situation_date, id: :admin_property_situation_date, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :引渡時期 %>
    <%= form.text_field :transfer, id: :admin_property_transfer, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :引渡年月 %>
    <%= form.text_field :transfer_date, id: :admin_property_transfer_date, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :入居（可能）年月日 %>
    <%= form.date_field :move_date, id: :admin_property_move_date, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :報酬形態 %>
    <%= form.text_field :remuneration, id: :admin_property_remuneration, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :手数料割合率 %>
    <%= form.number_field :fee_part, id: :admin_property_fee_part, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :手数料額 %>
    <%= form.number_field :fee_amount, id: :admin_property_fee_amount, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :都市計画 %>
    <%= form.text_field :town_plan, id: :admin_property_town_plan, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :登記簿地目 %>
    <%= form.text_field :register_landcategory, id: :admin_property_register_landcategory, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :現況地目 %>
    <%= form.text_field :situation_landcategory, id: :admin_property_situation_landcategory, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :用途地域１ %>
    <%= form.text_field :zoning1, id: :admin_property_zoning1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :用途地域２ %>
    <%= form.text_field :zoning2, id: :admin_property_zoning2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :最適用途 %>
    <%= form.text_field :optimum, id: :admin_property_optimum, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :地域地区 %>
    <%= form.text_field :zoning_district, id: :admin_property_zoning_district, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :建蔽率 %>
    <%= form.number_field :buildingcoverage_ratio, id: :admin_property_buildingcoverage_ratio, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :容積率 %>
    <%= form.number_field :floorarea_ratio, id: :admin_property_floorarea_ratio, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :容積率の制限内容 %>
    <%= form.text_field :floorarea_restriction, id: :admin_property_floorarea_restriction, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :その他法令上の制限 %>
    <%= form.text_area :law_restriction, id: :admin_property_law_restriction, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :再建築 %>
    <%= form.check_box :rebuilding, id: :admin_property_rebuilding, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :国土法届出 %>
    <%= form.text_field :nationalland_law, id: :admin_property_nationalland_law, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :建築確認コード %>
    <%= form.text_field :buildingcertification, id: :admin_property_buildingcertification, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :建築確認番号 %>
    <%= form.text_field :buildingcertification_number, id: :admin_property_buildingcertification_number, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :土地権利 %>
    <%= form.text_field :land_title, id: :admin_property_land_title, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :地勢 %>
    <%= form.text_field :terrain, id: :admin_property_terrain, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :建築条件 %>
    <%= form.text_field :architectural_condition, id: :admin_property_architectural_condition, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道状況 %>
    <%= form.text_field :connecting_road, id: :admin_property_connecting_road, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道舗装 %>
    <%= form.text_field :paved_road, id: :admin_property_paved_road, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道種別１ %>
    <%= form.text_field :road_class1, id: :admin_property_road_class1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道接面１（ｍ） %>
    <%= form.number_field :contact_distance1, id: :admin_property_contact_distance1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道位置指定１ %>
    <%= form.text_field :designation_road1, id: :admin_property_designation_road1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道方向１ %>
    <%= form.text_field :road_direction1, id: :admin_property_road_direction1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道幅員１（ｍ） %>
    <%= form.number_field :road_width1, id: :admin_property_road_width1, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道種別２ %>
    <%= form.text_field :road_class2, id: :admin_property_road_class2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道接面２（ｍ） %>
    <%= form.number_field :contact_distance2, id: :admin_property_contact_distance2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道位置指定２ %>
    <%= form.text_field :designation_road2, id: :admin_property_designation_road2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道方向２ %>
    <%= form.text_field :road_direction2, id: :admin_property_road_direction2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道幅員２（ｍ） %>
    <%= form.number_field :road_width2, id: :admin_property_road_width2, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道種別３ %>
    <%= form.text_field :road_class3, id: :admin_property_road_class3, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道接面３（ｍ） %>
    <%= form.number_field :contact_distance3, id: :admin_property_contact_distance3, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道位置指定３ %>
    <%= form.text_field :designation_road3, id: :admin_property_designation_road3, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道方向３ %>
    <%= form.text_field :road_direction3, id: :admin_property_road_direction3, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道幅員３（ｍ） %>
    <%= form.number_field :road_width3, id: :admin_property_road_width3, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道種別４ %>
    <%= form.text_field :road_class4, id: :admin_property_road_class4, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道接面４（ｍ） %>
    <%= form.number_field :contact_distance4, id: :admin_property_contact_distance4, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道位置指定４ %>
    <%= form.text_field :designation_road4, id: :admin_property_designation_road4, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道方向４ %>
    <%= form.text_field :road_direction4, id: :admin_property_road_direction4, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :接道幅員４（ｍ） %>
    <%= form.number_field :road_width4, id: :admin_property_road_width4, :class => 'form-control' %>
  </div>

  <div class="field form-inline">
    <%= form.label :管理組合 %>
    <%= form.text_field :homeowner_association, id: :admin_property_homeowner_association, :class => 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit  :更新, :class => 'btn btn-primary' %>
  </div>
<% end %>
